# **Downloading Dataset**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **Importing Data**

In [3]:
import pandas as pd
import numpy as np

# To display all the columns of dataframe
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 50)

import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("/content/drive/MyDrive/Omdena/02_secondExam_data_arabic_extra_gender_feature.csv")

In [5]:
df

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
0,102353.0,اسماعيل احمد خلف محمد الحسيني,الالمانية الانجيلية خ بنين (ابيتور),الدقى,الجيزة,غير محدد,9.76%,نوعيات أخرى,ناجح,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,40.0,16,16,غير مقرر,M
1,102361.0,حسن خالد عبدالفتاح جوهري,الالمانية الانجيلية خ بنين (ابيتور),الدقى,الجيزة,غير محدد,9.76%,نوعيات أخرى,ناجح,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,40.0,21,18,غير مقرر,M
2,102367.0,سامي احمد سامي محمد بدوي,الالمانية الانجيلية خ بنين (ابيتور),الدقى,الجيزة,غير محدد,0.00%,نوعيات أخرى,راسب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,0.0,20,18,غير مقرر,M
3,102390.0,تايا نادر رؤوف الهامي,الالمانية الانجيلية خ بنات (ابيتور),الدقى,الجيزة,غير محدد,9.76%,نوعيات أخرى,ناجح,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,40.0,13,19,غير مقرر,F
4,102405.0,فريده ناير علوي فؤاد,الالمانية الانجيلية خ بنات (ابيتور),الدقى,الجيزة,غير محدد,9.76%,نوعيات أخرى,ناجح,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,40.0,13,13,غير مقرر,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155524,937400.0,محمد رفعت محمد فراج,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80%,طلاب,راسب,غائب,37,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,37,56,غير مقرر,36,196.0,إجتياز,إجتياز,إجتياز,M
155525,937403.0,اسراء عبدالراضي محمد عبدالرحيم,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41%,طلاب,ناجح,53.5,29,33,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,34,غير مقرر,30,239.5,إجتياز,إجتياز,إجتياز,F
155526,937404.0,هدير ماهر كامل محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85%,طلاب,ناجح,40.5,38,35,غير مقرر,30,30,37,39,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,249.5,إجتياز,إجتياز,إجتياز,F
155527,937408.0,خلود حسن عبدالستار محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05%,طلاب,ناجح,40,39,21,غير مقرر,30,33,40,35,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,238.0,إجتياز,إجتياز,إجتياز,F
155528,937409.0,دنيا احمد عبدالعظيم عبدالوهاب,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85%,طلاب,ناجح,42,35,31,غير مقرر,30,43,43,46,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,270.0,إجتياز,إجتياز,إجتياز,F

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155529 entries, 0 to 155528
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   desk_no               155529 non-null  float64
 1   name                  155529 non-null  object
 2   school_name_arabic    155529 non-null  object
 3   administration        155529 non-null  object
 4   government_Arabic     155529 non-null  object
 5   branch                155529 non-null  object
 6   Percentage            155529 non-null  object
 7   student_type          155529 non-null  object
 8   status                155529 non-null  object
 9   arabic                155529 non-null  object
 10  first_foreign_lang    155529 non-null  object
 11  second_foreign_lang   155529 non-null  object
 12  pure_mathematics      155529 non-null  object
 13  history               155529 non-null  object
 14  geography             155529 non-null  object
 15  philosophy            155529 non-null  object
 16  psychology            155529 non-null  object
 17  chemistry             155529 non-null  object
 18  biology               155529 non-null  object
 19  geology               155529 non-null  object
 20  applied_math          155529 non-null  object
 21  physics               155529 non-null  object
 22  total                 155529 non-null  float64
 23  religion              155529 non-null  object
 24  altarbiat_alwatania   155529 non-null  object
 25  economics_statistics  155529 non-null  object
 26  gender                155513 non-null  object
dtypes: float64(2), object(25)
memory usage: 32.0+ MB

In [7]:
df.columns

Index(['desk_no', 'name', 'school_name_arabic', 'administration',
       'government_Arabic', 'branch', 'Percentage', 'student_type', 'status',
       'arabic', 'first_foreign_lang', 'second_foreign_lang',
       'pure_mathematics', 'history', 'geography', 'philosophy', 'psychology',
       'chemistry', 'biology', 'geology', 'applied_math', 'physics', 'total',
       'religion', 'altarbiat_alwatania', 'economics_statistics', 'gender'],
      dtype='object')

#**Data Cleaning**

##**Converting Categorical Columns**

In [8]:
dtypes = pd.DataFrame(df.dtypes,columns=["Data Type"])

dtypes["Unique Values"]=df.nunique()

dtypes["Null Values"]=df.isnull().sum()

dtypes["% null Values"]=df.isnull().sum()/len(df)

dtypes.sort_values(by="Null Values" , ascending=False).style.background_gradient(cmap='YlOrRd',axis=0)

In [9]:
cat_cols=['school_name_arabic','administration','government_Arabic', 'branch', 'student_type', 'status','gender']

In [10]:
for col in cat_cols:
  df[col] = df[col].astype("category")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155529 entries, 0 to 155528
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   desk_no               155529 non-null  float64
 1   name                  155529 non-null  object
 2   school_name_arabic    155529 non-null  category
 3   administration        155529 non-null  category
 4   government_Arabic     155529 non-null  category
 5   branch                155529 non-null  category
 6   Percentage            155529 non-null  object
 7   student_type          155529 non-null  category
 8   status                155529 non-null  category
 9   arabic                155529 non-null  object
 10  first_foreign_lang    155529 non-null  object
 11  second_foreign_lang   155529 non-null  object
 12  pure_mathematics      155529 non-null  object
 13  history               155529 non-null  object
 14  geography             155529 non-null  object
 15  philosophy            155529 non-null  object
 16  psychology            155529 non-null  object
 17  chemistry             155529 non-null  object
 18  biology               155529 non-null  object
 19  geology               155529 non-null  object
 20  applied_math          155529 non-null  object
 21  physics               155529 non-null  object
 22  total                 155529 non-null  float64
 23  religion              155529 non-null  object
 24  altarbiat_alwatania   155529 non-null  object
 25  economics_statistics  155529 non-null  object
 26  gender                155513 non-null  category
dtypes: category(7), float64(2), object(18)
memory usage: 25.2+ MB

## **Special Categorical Columns**

In [11]:
df[df["student_type"] =="نوعيات أخرى"]

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
0,102353.0,اسماعيل احمد خلف محمد الحسيني,الالمانية الانجيلية خ بنين (ابيتور),الدقى,الجيزة,غير محدد,9.76%,نوعيات أخرى,ناجح,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,40.0,16,16,غير مقرر,M
1,102361.0,حسن خالد عبدالفتاح جوهري,الالمانية الانجيلية خ بنين (ابيتور),الدقى,الجيزة,غير محدد,9.76%,نوعيات أخرى,ناجح,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,40.0,21,18,غير مقرر,M
2,102367.0,سامي احمد سامي محمد بدوي,الالمانية الانجيلية خ بنين (ابيتور),الدقى,الجيزة,غير محدد,0.00%,نوعيات أخرى,راسب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,0.0,20,18,غير مقرر,M
3,102390.0,تايا نادر رؤوف الهامي,الالمانية الانجيلية خ بنات (ابيتور),الدقى,الجيزة,غير محدد,9.76%,نوعيات أخرى,ناجح,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,40.0,13,19,غير مقرر,F
4,102405.0,فريده ناير علوي فؤاد,الالمانية الانجيلية خ بنات (ابيتور),الدقى,الجيزة,غير محدد,9.76%,نوعيات أخرى,ناجح,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,40.0,13,13,غير مقرر,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141407,880612.0,محمد مدحت علاماحمد,جيل المستقبل الدولية ث,اخميم,سوهاج,غير محدد,9.76%,نوعيات أخرى,ناجح,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,40.0,14,13,غير مقرر,M
141408,880626.0,مصطفي محمد قرني عويس,جيل المستقبل الدولية ث,اخميم,سوهاج,غير محدد,9.76%,نوعيات أخرى,ناجح,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,40.0,22,18,غير مقرر,M
141409,880661.0,سالي عزت توفيق شنوده,جيل المستقبل الدولية ث,اخميم,سوهاج,غير محدد,9.76%,نوعيات أخرى,ناجح,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,40.0,15,14,غير مقرر,F
141410,880674.0,كنوز والي سليم خضيري,جيل المستقبل الدولية ث,اخميم,سوهاج,غير محدد,9.76%,نوعيات أخرى,ناجح,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,40.0,18,13,غير مقرر,M
141411,880701.0,محمد فوزي محفوظ خلاف,جيل المستقبل الدولية ث,اخميم,سوهاج,غير محدد,9.76%,نوعيات أخرى,ناجح,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,40.0,إجتياز,إجتياز,غير مقرر,M

In [12]:
df[df["student_type"] =="نوعيات أخرى"]["arabic"].value_counts()

40          1598
غائب          61
غير مقرر      18
45             4
42             4
58             2
49             1
53             1
60             1
41             1
44             1
50             1
61             1
55             1
Name: arabic, dtype: int64

In [13]:
df[df["student_type"] =="نوعيات أخرى"]["Percentage"].value_counts()

9.76%     894
0.00%     778
10.98%      3
14.15%      2
4.88%       2
10.24%      1
38.05%      1
24.15%      1
44.15%      1
45.37%      1
42.44%      1
41.71%      1
63.66%      1
42.20%      1
50.00%      1
41.22%      1
36.10%      1
14.63%      1
12.93%      1
11.95%      1
13.41%      1
Name: Percentage, dtype: int64

In [14]:
df[df["student_type"]=="نوعيات أخرى"]["branch"].value_counts()

غير محدد      1679
علمي علوم       15
علمي رياضة       1
أدبي             0
Name: branch, dtype: int64

**Since most of the `student_type` that is `"نوعيات أخرى"` Students almost have 0% Percentage and Most of the `"branch"` is Undefined "غير محدد"  we will drop them**

> **Becuase They are International School Students that don't take subjects from Thanwya Amma System Exept for Arabic**

In [15]:
df = df[~(df["student_type"]=="نوعيات أخرى")]
df

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,105416.0,حاتم عصاممحمد عمادالدين عبدالحميد,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88%,طلاب,ناجح,56,25,20,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,غير مقرر,غير مقرر,33,31,225.0,18,20,31,M
401,105463.0,دنيا محمد فوزي عبدالله,العجوزة ث بنات,العجوزة,الجيزة,أدبي,74.88%,طلاب,ناجح,76,26,20,غير مقرر,47,30,60,48,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,307.0,16,12.5,28.5,F
402,105477.0,ندي محمد مصطفي حسين,د/محمود عمر ث بنات,الهرم,الجيزة,أدبي,45.73%,طلاب,ناجح,40,25.5,معفى,غير مقرر,30,32,30,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,187.5,16,12.5,33,F
403,105478.0,عمر حسين محمود ابراهيم محمود,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,أدبي,55.85%,طلاب,ناجح,42,33,20,غير مقرر,30,38,36,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,229.0,21,12.5,25,M
404,105485.0,ابراهيم جمال السيد احمد هريدي,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93%,طلاب,ناجح,73,44,20,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,31,30,30,غير مقرر,30,258.0,18,25,28,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155524,937400.0,محمد رفعت محمد فراج,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80%,طلاب,راسب,غائب,37,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,37,56,غير مقرر,36,196.0,إجتياز,إجتياز,إجتياز,M
155525,937403.0,اسراء عبدالراضي محمد عبدالرحيم,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41%,طلاب,ناجح,53.5,29,33,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,34,غير مقرر,30,239.5,إجتياز,إجتياز,إجتياز,F
155526,937404.0,هدير ماهر كامل محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85%,طلاب,ناجح,40.5,38,35,غير مقرر,30,30,37,39,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,249.5,إجتياز,إجتياز,إجتياز,F
155527,937408.0,خلود حسن عبدالستار محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05%,طلاب,ناجح,40,39,21,غير مقرر,30,33,40,35,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,238.0,إجتياز,إجتياز,إجتياز,F
155528,937409.0,دنيا احمد عبدالعظيم عبدالوهاب,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85%,طلاب,ناجح,42,35,31,غير مقرر,30,43,43,46,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,270.0,إجتياز,إجتياز,إجتياز,F

In [16]:
df["branch"].value_counts()

أدبي          72909
علمي علوم     63754
علمي رياضة    17170
غير محدد          1
Name: branch, dtype: int64

**And Since there are only 1 values of the `"branch"` which is Unidentfied `"غير محدد"` We will also drop them**

In [17]:
df[df["branch"]=="غير محدد"]

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
99825,594157.0,نادر خالد محييالدين امين الارناؤوطي,الألمانية الجديدة IBO (أبيتور),المنتزه,الاسكندرية,غير محدد,0.00%,طلاب,راسب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,0.0,13,17,غير مقرر,M

In [18]:
df = df[~(df["branch"]=="غير محدد")]
df

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,105416.0,حاتم عصاممحمد عمادالدين عبدالحميد,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88%,طلاب,ناجح,56,25,20,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,غير مقرر,غير مقرر,33,31,225.0,18,20,31,M
401,105463.0,دنيا محمد فوزي عبدالله,العجوزة ث بنات,العجوزة,الجيزة,أدبي,74.88%,طلاب,ناجح,76,26,20,غير مقرر,47,30,60,48,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,307.0,16,12.5,28.5,F
402,105477.0,ندي محمد مصطفي حسين,د/محمود عمر ث بنات,الهرم,الجيزة,أدبي,45.73%,طلاب,ناجح,40,25.5,معفى,غير مقرر,30,32,30,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,187.5,16,12.5,33,F
403,105478.0,عمر حسين محمود ابراهيم محمود,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,أدبي,55.85%,طلاب,ناجح,42,33,20,غير مقرر,30,38,36,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,229.0,21,12.5,25,M
404,105485.0,ابراهيم جمال السيد احمد هريدي,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93%,طلاب,ناجح,73,44,20,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,31,30,30,غير مقرر,30,258.0,18,25,28,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155524,937400.0,محمد رفعت محمد فراج,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80%,طلاب,راسب,غائب,37,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,37,56,غير مقرر,36,196.0,إجتياز,إجتياز,إجتياز,M
155525,937403.0,اسراء عبدالراضي محمد عبدالرحيم,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41%,طلاب,ناجح,53.5,29,33,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,34,غير مقرر,30,239.5,إجتياز,إجتياز,إجتياز,F
155526,937404.0,هدير ماهر كامل محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85%,طلاب,ناجح,40.5,38,35,غير مقرر,30,30,37,39,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,249.5,إجتياز,إجتياز,إجتياز,F
155527,937408.0,خلود حسن عبدالستار محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05%,طلاب,ناجح,40,39,21,غير مقرر,30,33,40,35,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,238.0,إجتياز,إجتياز,إجتياز,F
155528,937409.0,دنيا احمد عبدالعظيم عبدالوهاب,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85%,طلاب,ناجح,42,35,31,غير مقرر,30,43,43,46,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,270.0,إجتياز,إجتياز,إجتياز,F

In [19]:
df["branch"].value_counts()

أدبي          72909
علمي علوم     63754
علمي رياضة    17170
غير محدد          0
Name: branch, dtype: int64

In [20]:
df["student_type"].value_counts()

طلاب           153833
نوعيات أخرى         0
Name: student_type, dtype: int64

In [21]:
df["status"].value_counts()

ناجح    136385
راسب     17448
Name: status, dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153833 entries, 400 to 155528
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   desk_no               153833 non-null  float64
 1   name                  153833 non-null  object
 2   school_name_arabic    153833 non-null  category
 3   administration        153833 non-null  category
 4   government_Arabic     153833 non-null  category
 5   branch                153833 non-null  category
 6   Percentage            153833 non-null  object
 7   student_type          153833 non-null  category
 8   status                153833 non-null  category
 9   arabic                153833 non-null  object
 10  first_foreign_lang    153833 non-null  object
 11  second_foreign_lang   153833 non-null  object
 12  pure_mathematics      153833 non-null  object
 13  history               153833 non-null  object
 14  geography             153833 non-null  object
 15  philosophy            153833 non-null  object
 16  psychology            153833 non-null  object
 17  chemistry             153833 non-null  object
 18  biology               153833 non-null  object
 19  geology               153833 non-null  object
 20  applied_math          153833 non-null  object
 21  physics               153833 non-null  object
 22  total                 153833 non-null  float64
 23  religion              153833 non-null  object
 24  altarbiat_alwatania   153833 non-null  object
 25  economics_statistics  153833 non-null  object
 26  gender                153825 non-null  category
dtypes: category(7), float64(2), object(18)
memory usage: 26.1+ MB

## **Handling Some Columns with Null Values For Now**

In [23]:
df.isna().sum()

desk_no                 0
name                    0
school_name_arabic      0
administration          0
government_Arabic       0
branch                  0
Percentage              0
student_type            0
status                  0
arabic                  0
first_foreign_lang      0
second_foreign_lang     0
pure_mathematics        0
history                 0
geography               0
philosophy              0
psychology              0
chemistry               0
biology                 0
geology                 0
applied_math            0
physics                 0
total                   0
religion                0
altarbiat_alwatania     0
economics_statistics    0
gender                  8
dtype: int64

In [24]:
df = df.dropna(subset=["gender"])
df

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,105416.0,حاتم عصاممحمد عمادالدين عبدالحميد,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88%,طلاب,ناجح,56,25,20,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,غير مقرر,غير مقرر,33,31,225.0,18,20,31,M
401,105463.0,دنيا محمد فوزي عبدالله,العجوزة ث بنات,العجوزة,الجيزة,أدبي,74.88%,طلاب,ناجح,76,26,20,غير مقرر,47,30,60,48,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,307.0,16,12.5,28.5,F
402,105477.0,ندي محمد مصطفي حسين,د/محمود عمر ث بنات,الهرم,الجيزة,أدبي,45.73%,طلاب,ناجح,40,25.5,معفى,غير مقرر,30,32,30,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,187.5,16,12.5,33,F
403,105478.0,عمر حسين محمود ابراهيم محمود,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,أدبي,55.85%,طلاب,ناجح,42,33,20,غير مقرر,30,38,36,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,229.0,21,12.5,25,M
404,105485.0,ابراهيم جمال السيد احمد هريدي,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93%,طلاب,ناجح,73,44,20,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,31,30,30,غير مقرر,30,258.0,18,25,28,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155524,937400.0,محمد رفعت محمد فراج,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80%,طلاب,راسب,غائب,37,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,37,56,غير مقرر,36,196.0,إجتياز,إجتياز,إجتياز,M
155525,937403.0,اسراء عبدالراضي محمد عبدالرحيم,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41%,طلاب,ناجح,53.5,29,33,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,34,غير مقرر,30,239.5,إجتياز,إجتياز,إجتياز,F
155526,937404.0,هدير ماهر كامل محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85%,طلاب,ناجح,40.5,38,35,غير مقرر,30,30,37,39,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,249.5,إجتياز,إجتياز,إجتياز,F
155527,937408.0,خلود حسن عبدالستار محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05%,طلاب,ناجح,40,39,21,غير مقرر,30,33,40,35,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,238.0,إجتياز,إجتياز,إجتياز,F
155528,937409.0,دنيا احمد عبدالعظيم عبدالوهاب,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85%,طلاب,ناجح,42,35,31,غير مقرر,30,43,43,46,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,270.0,إجتياز,إجتياز,إجتياز,F

In [25]:
df.isna().sum()

desk_no                 0
name                    0
school_name_arabic      0
administration          0
government_Arabic       0
branch                  0
Percentage              0
student_type            0
status                  0
arabic                  0
first_foreign_lang      0
second_foreign_lang     0
pure_mathematics        0
history                 0
geography               0
philosophy              0
psychology              0
chemistry               0
biology                 0
geology                 0
applied_math            0
physics                 0
total                   0
religion                0
altarbiat_alwatania     0
economics_statistics    0
gender                  0
dtype: int64



---

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153825 entries, 400 to 155528
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   desk_no               153825 non-null  float64
 1   name                  153825 non-null  object
 2   school_name_arabic    153825 non-null  category
 3   administration        153825 non-null  category
 4   government_Arabic     153825 non-null  category
 5   branch                153825 non-null  category
 6   Percentage            153825 non-null  object
 7   student_type          153825 non-null  category
 8   status                153825 non-null  category
 9   arabic                153825 non-null  object
 10  first_foreign_lang    153825 non-null  object
 11  second_foreign_lang   153825 non-null  object
 12  pure_mathematics      153825 non-null  object
 13  history               153825 non-null  object
 14  geography             153825 non-null  object
 15  philosophy            153825 non-null  object
 16  psychology            153825 non-null  object
 17  chemistry             153825 non-null  object
 18  biology               153825 non-null  object
 19  geology               153825 non-null  object
 20  applied_math          153825 non-null  object
 21  physics               153825 non-null  object
 22  total                 153825 non-null  float64
 23  religion              153825 non-null  object
 24  altarbiat_alwatania   153825 non-null  object
 25  economics_statistics  153825 non-null  object
 26  gender                153825 non-null  category
dtypes: category(7), float64(2), object(18)
memory usage: 26.1+ MB

In [27]:
dtypes = pd.DataFrame(df.dtypes,columns=["Data Type"])

dtypes["Unique Values"]=df.nunique()

dtypes["Null Values"]=df.isnull().sum()

dtypes["% null Values"]=df.isnull().sum()/len(df)

dtypes.sort_values(by="Null Values" , ascending=False).style.background_gradient(cmap='YlOrRd',axis=0)

##**Checking Duplicates**

In [28]:
df["desk_no"] = df["desk_no"].astype("int")
df["desk_no"]

400       105416
401       105463
402       105477
403       105478
404       105485
           ...
155524    937400
155525    937403
155526    937404
155527    937408
155528    937409
Name: desk_no, Length: 153825, dtype: int64

In [29]:
duplicate = df[df.duplicated()]
duplicate

Empty DataFrame
Columns: [desk_no, name, school_name_arabic, administration, government_Arabic, branch, Percentage, student_type, status, arabic, first_foreign_lang, second_foreign_lang, pure_mathematics, history, geography, philosophy, psychology, chemistry, biology, geology, applied_math, physics, total, religion, altarbiat_alwatania, economics_statistics, gender]
Index: []

##**Special Subjects Categories**

### **`second_foreign_lang` Subject**

In [30]:
df["second_foreign_lang"].value_counts(dropna=False)

20          59792
23           6428
21           6386
22           6308
24           6213
            ...
13              4
2               2
0               1
غير مقرر        1
1               1
Name: second_foreign_lang, Length: 61, dtype: int64

In [31]:
Exempt_Students = df[df.values=="معفى"].drop_duplicates()
Exempt_Students

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
402,105477,ندي محمد مصطفي حسين,د/محمود عمر ث بنات,الهرم,الجيزة,أدبي,45.73%,طلاب,ناجح,40,25.5,معفى,غير مقرر,30,32,30,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,187.5,16,12.5,33,F
405,105502,اروي رفعت عزت محمد,الشيخ زايد ث بنات,الشيخ زايد,الجيزة,علمي علوم,46.83%,طلاب,ناجح,40,30,معفى,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,32,30,30,غير مقرر,30,192.0,14,20,25,F
407,105516,حسب النبي ابراهيم حسب النبي السيد,ناهيا ث بنين,كرداسة,الجيزة,أدبي,55.12%,طلاب,ناجح,59,31,معفى,غير مقرر,30,30,30,46,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,226.0,19,20,25.5,M
410,105541,ايه عصامحسن الانور صابر,ابناء الاندلس الخاصه (2) عربي ث م بنات,كرداسة,الجيزة,أدبي,49.76%,طلاب,ناجح,40,25,معفى,غير مقرر,42,37,30,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,204.0,18,25,30,F
411,105546,ريم وائل صلاحالدين سعد,القومية ث خ م بنات,العجوزة,الجيزة,أدبي,78.29%,طلاب,ناجح,73,42,معفى,غير مقرر,60,54,56,36,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,321.0,12.5,22.5,32,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152150,928043,حبيبه الرحمن ايمن ابراهيم محمد,خديجة يوسف الثانوية للبنات,اسيوط,اسيوط,علمي علوم,53.17%,طلاب,ناجح,56,42,معفى,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,30,غير مقرر,30,218.0,22,24,25,F
153204,930368,رواء سعيد صلاح كامل,احمد عبدالرحيم الثانويه بنات,القوصية,اسيوط,علمي علوم,48.78%,طلاب,ناجح,49,29,معفى,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,32,غير مقرر,30,200.0,إجتياز,إجتياز,إجتياز,F
154611,934158,احمد محمد عبدالعظيم محمد,منازل إدارة اسيوط,اسيوط,اسيوط,علمي رياضة,46.10%,طلاب,ناجح,44,25,معفى,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,غير مقرر,غير مقرر,30,30,189.0,إجتياز,إجتياز,إجتياز,M
155086,935704,اسلامعزوز عبدالمجيد جابر,منازل إدارة ساحل سليم,ساحل سليم,اسيوط,أدبي,45.85%,طلاب,ناجح,40,26,معفى,غير مقرر,30,30,30,32,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,188.0,إجتياز,إجتياز,إجتياز,F
155158,936050,كريم علاء عبدالمجيد شلقامي,منازل إدارة سوهاج,سوهاج,سوهاج,علمي علوم,46.59%,طلاب,ناجح,40,30,معفى,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,31,غير مقرر,30,191.0,إجتياز,إجتياز,إجتياز,M

In [32]:
Exempt_Students["second_foreign_lang"].value_counts()

معفى    569
Name: second_foreign_lang, dtype: int64

**`"معفى"` For Only this `"second_foreign_lang"` Subject**

> **Since they are only 569 students , We will drop them**

In [33]:
df = df.drop(index=(Exempt_Students.index))
df

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,105416,حاتم عصاممحمد عمادالدين عبدالحميد,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88%,طلاب,ناجح,56,25,20,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,غير مقرر,غير مقرر,33,31,225.0,18,20,31,M
401,105463,دنيا محمد فوزي عبدالله,العجوزة ث بنات,العجوزة,الجيزة,أدبي,74.88%,طلاب,ناجح,76,26,20,غير مقرر,47,30,60,48,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,307.0,16,12.5,28.5,F
403,105478,عمر حسين محمود ابراهيم محمود,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,أدبي,55.85%,طلاب,ناجح,42,33,20,غير مقرر,30,38,36,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,229.0,21,12.5,25,M
404,105485,ابراهيم جمال السيد احمد هريدي,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93%,طلاب,ناجح,73,44,20,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,31,30,30,غير مقرر,30,258.0,18,25,28,M
406,105506,هاجر يحيي محمد احمد,بشتيل ث بنات,اوسيم,الجيزة,أدبي,79.51%,طلاب,ناجح,54,30,20,غير مقرر,56,60,54,52,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,326.0,21,20,26,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155524,937400,محمد رفعت محمد فراج,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80%,طلاب,راسب,غائب,37,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,37,56,غير مقرر,36,196.0,إجتياز,إجتياز,إجتياز,M
155525,937403,اسراء عبدالراضي محمد عبدالرحيم,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41%,طلاب,ناجح,53.5,29,33,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,34,غير مقرر,30,239.5,إجتياز,إجتياز,إجتياز,F
155526,937404,هدير ماهر كامل محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85%,طلاب,ناجح,40.5,38,35,غير مقرر,30,30,37,39,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,249.5,إجتياز,إجتياز,إجتياز,F
155527,937408,خلود حسن عبدالستار محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05%,طلاب,ناجح,40,39,21,غير مقرر,30,33,40,35,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,238.0,إجتياز,إجتياز,إجتياز,F
155528,937409,دنيا احمد عبدالعظيم عبدالوهاب,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85%,طلاب,ناجح,42,35,31,غير مقرر,30,43,43,46,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,270.0,إجتياز,إجتياز,إجتياز,F



---

###**Most Subjects**

In [34]:
df["arabic"].value_counts()

40          69504
41           6449
42           6358
43           6330
44           6053
            ...
79              1
11              1
غير مقرر        1
1               1
80              1
Name: arabic, Length: 107, dtype: int64

**We have `["غائب" ,"غير مقرر" ,"ملغى"]` For Most Subjects**

**Notice that we don't have `"مؤجل"` (Delayed) in the second exams.**

In [35]:
Speical_Subjects_Categories = df[df.isin(["غائب" ,"غير مقرر" ,"ملغى"]).values].drop_duplicates()
Speical_Subjects_Categories

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,105416,حاتم عصاممحمد عمادالدين عبدالحميد,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88%,طلاب,ناجح,56,25,20,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,غير مقرر,غير مقرر,33,31,225.0,18,20,31,M
401,105463,دنيا محمد فوزي عبدالله,العجوزة ث بنات,العجوزة,الجيزة,أدبي,74.88%,طلاب,ناجح,76,26,20,غير مقرر,47,30,60,48,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,307.0,16,12.5,28.5,F
403,105478,عمر حسين محمود ابراهيم محمود,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,أدبي,55.85%,طلاب,ناجح,42,33,20,غير مقرر,30,38,36,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,229.0,21,12.5,25,M
404,105485,ابراهيم جمال السيد احمد هريدي,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93%,طلاب,ناجح,73,44,20,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,31,30,30,غير مقرر,30,258.0,18,25,28,M
406,105506,هاجر يحيي محمد احمد,بشتيل ث بنات,اوسيم,الجيزة,أدبي,79.51%,طلاب,ناجح,54,30,20,غير مقرر,56,60,54,52,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,326.0,21,20,26,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155524,937400,محمد رفعت محمد فراج,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80%,طلاب,راسب,غائب,37,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,37,56,غير مقرر,36,196.0,إجتياز,إجتياز,إجتياز,M
155525,937403,اسراء عبدالراضي محمد عبدالرحيم,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41%,طلاب,ناجح,53.5,29,33,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,34,غير مقرر,30,239.5,إجتياز,إجتياز,إجتياز,F
155526,937404,هدير ماهر كامل محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85%,طلاب,ناجح,40.5,38,35,غير مقرر,30,30,37,39,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,249.5,إجتياز,إجتياز,إجتياز,F
155527,937408,خلود حسن عبدالستار محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05%,طلاب,ناجح,40,39,21,غير مقرر,30,33,40,35,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,238.0,إجتياز,إجتياز,إجتياز,F
155528,937409,دنيا احمد عبدالعظيم عبدالوهاب,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85%,طلاب,ناجح,42,35,31,غير مقرر,30,43,43,46,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,270.0,إجتياز,إجتياز,إجتياز,F

**Of course Every Student has one of this categories in a some subjects, Since they may be not in same specialization, Absent, etc**

**Let's Intrepret them one by one**

#### **Cancled Students : `ملغى`**

In [36]:
Cancled_Students = df[df.values=="ملغى"].drop_duplicates()
Cancled_Students

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
5301,128768,عبدالله بخيت بدري عبدالحفيظ,6 اكتوبر ث اوراسكوم بنين,أكتوبر,الجيزة,علمي رياضة,47.80%,طلاب,راسب,40,38,20,ملغى,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,غير مقرر,غير مقرر,30,38,196.0,20,13,33,M
9097,142694,ذياد مسعود حمزه عباس,منف ث خ م بنين,البدرشين,الجيزة,أدبي,51.46%,طلاب,راسب,ملغى,35,34,غير مقرر,39,34,39,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,211.0,21,18,25,M
9194,143009,محمد صلاح امين محمد,صلاح سالم ث بنين,العياط,الجيزة,علمي علوم,53.66%,طلاب,راسب,47,25,32,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,ملغى,38,48,غير مقرر,30,220.0,18,20,29,M
14400,166869,محمد راتب حسن حسن,النزلة ث م بنين,يوسف الصديق,الفيوم,أدبي,61.46%,طلاب,راسب,58,ملغى,30,غير مقرر,37,41,46,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,252.0,17,18,28,M
15466,171062,حسناء وليد رضا علي,خدمات د.محمود عمر ث بنات,الهرم,الجيزة,أدبي,60.24%,طلاب,راسب,41,46,20,غير مقرر,36,30,38,36,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,247.0,18,16,ملغى,F
16058,172785,سالم صابر سالم محمد سالم,خدمات الشهيد نصر عبد الحكيم قاسم بنين,البدرشين,الجيزة,أدبي,48.54%,طلاب,راسب,40,ملغى,20,غير مقرر,32,30,44,33,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,199.0,16,14,25,M
16096,172903,خلود خالد ربيع عبدالتواب,خدمات الشهيد نصر عبد الحكيم قاسم بنات,البدرشين,الجيزة,أدبي,49.27%,طلاب,راسب,ملغى,25,32,غير مقرر,30,30,38,47,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,202.0,13,13,25,F
16323,173525,امير محمد سمير احمد,فصول خدمات صفط الغربية بنين,الواسطى,بني سويف,أدبي,49.51%,طلاب,راسب,40,27,ملغى,غير مقرر,30,30,36,40,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,203.0,18,20,25,M
16338,173547,محمود خالد محمد قرني,فصول خدمات صفط الغربية بنين,الواسطى,بني سويف,علمي رياضة,50.73%,طلاب,راسب,40,28,ملغى,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,35,غير مقرر,غير مقرر,37,38,208.0,13,20,25,M
16521,174052,عبدالرحمن القياتي ابوزيد عبدالعظيم,خدمات ابو عبيده بن الجراح ث بنين,سمسطا,بني سويف,أدبي,62.44%,طلاب,راسب,50,49,ملغى,غير مقرر,30,34,42,51,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,256.0,17,15,28,M
22619,189986,عمر محمد عمر محمد,منازل ادارة الفشن بنين,الفشن,بني سويف,أدبي,47.32%,طلاب,راسب,ملغى,31,20,غير مقرر,34,30,37,42,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,194.0,13,16,25,M
23005,192542,اسلاممحمد محمد عبدالعزيز,منازل ادارة العجوزة بنين,العجوزة,الجيزة,علمي علوم,44.88%,طلاب,راسب,44,28,20,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,32,غير مقرر,ملغى,184.0,إجتياز,إجتياز,إجتياز,M
23507,193932,شرين هادي شكري زناته,منازل ادارة 6 اكتوبر بنات,أكتوبر,الجيزة,أدبي,34.15%,طلاب,راسب,ملغى,25,20,غير مقرر,ملغى,30,30,35,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,140.0,إجتياز,إجتياز,إجتياز,F
77977,451744,محمد عبدالدايم عبدالغني عبدالدايم,طلائع فاطمة الزهراء الخاصه,القناطر الخيرية,القليوبية,علمي رياضة,40.98%,طلاب,راسب,41,25,ملغى,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,ملغى,غير مقرر,غير مقرر,32,40,168.0,إجتياز,إجتياز,إجتياز,M
84108,493454,عبدالرحمن هاني عبدالحميد زيد,منازل إدارة غرب طنطا,غرب طنطا,الغربية,أدبي,45.61%,طلاب,راسب,40,25,28,غير مقرر,ملغى,30,32,32,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,187.0,13,16,25,M
90406,543649,مياده ابراهيم احمد ابراهيم,العامرية الثانوية بنات,العامرية,الاسكندرية,أدبي,49.27%,طلاب,راسب,41,25,20,غير مقرر,ملغى,30,43,43,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,202.0,18,19,34,F
101986,602384,علياء احمد ابراهيم السيد خطاب,خدمات لطفى الاسطى الثانويه بنات,ايتاى البارود,البحيرة,علمي علوم,43.66%,طلاب,راسب,40,25,21,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,ملغى,30,33,غير مقرر,30,179.0,إجتياز,إجتياز,إجتياز,F
104241,620076,فطيمه عادل عبدالرحيم محمد عثمان,منازل إدارة غرب المحلة,غرب المحلة,الغربية,أدبي,47.80%,طلاب,راسب,45,29,27,غير مقرر,30,30,ملغى,35,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,196.0,14,16,30,F
105042,625493,عبدالغفار انور عبدالغفار انور ياسر,الصفا والمروة الثانوية الخاصة بمسجد وصيف,زفتا,الغربية,أدبي,37.07%,طلاب,راسب,ملغى,ملغى,20,غير مقرر,30,33,30,39,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,152.0,21,13,26,M
107809,650808,ندي يحي عبدالرحمن عبدالحميد,كفر محسن الثانويه,الابراهيمية,الشرقية,علمي علوم,46.34%,طلاب,راسب,50,25,25,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,30,غير مقرر,ملغى,190.0,16,13,25,F
108729,656989,يارا محمد محمد عبدالمعبود,الصوفية ث,اولاد صقر,الشرقية,علمي علوم,50.73%,طلاب,راسب,53,25,33,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,ملغى,30,37,غير مقرر,30,208.0,19,15,26,F
111157,696620,ندي علاء احمد ناظم بدوي,الشهيد نقيب احمد رضا حشيش ث بنات بشربين,شربين,الدقهلية,أدبي,50.98%,طلاب,راسب,53,25,25,غير مقرر,30,41,35,ملغى,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,209.0,20,22,26,F
111207,696958,منار حماده محمد كمال عبدالوهاب فرج,الشهيد نقيب احمد رضا حشيش ث بنات بشربين,شربين,الدقهلية,علمي علوم,54.15%,طلاب,راسب,40,33,39,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,44,36,ملغى,غير مقرر,30,222.0,13,15,34,F
112334,708908,محمود احمد السيد احمد ابوالعنين,فصول خدمات الشهيد ايمن السيد الدسوقى الثانوية ...,ميت غمر,الدقهلية,أدبي,51.95%,طلاب,راسب,47,ملغى,39,غير مقرر,35,32,30,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,213.0,13,15,25,F
112721,712113,شروق طارق السعيد محمد علي النادي,منازل إدارة ميت غمر,ميت غمر,الدقهلية,أدبي,45.12%,طلاب,راسب,40,ملغى,20,غير مقرر,30,30,32,33,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,185.0,13,19,25,F
125929,820881,شيماء شتيوي فؤاد عامر,الشهيد الرقيب بهاء على عبد الجبار الثانوية بشوشة,سمالوط,المنيا,أدبي,43.90%,طلاب,راسب,44,ملغى,29,غير مقرر,30,ملغى,36,41,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,180.0,16,18,25,F
126439,822688,ابراهيم مجدي كرم غالي,الشهيد الرائد/احمد محمد عبده اسماعيل الثانوية ...,ابوقرقاص,المنيا,أدبي,42.93%,طلاب,راسب,40,25,20,غير مقرر,ملغى,30,30,31,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,176.0,20,14,25,M
134541,855995,ايه سعيد حسين عبدالباري,الشهيد احمد محمد مرعى ابراهيم,كوم امبو,اسوان,علمي رياضة,41.71%,طلاب,راسب,43,ملغى,20,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,غير مقرر,غير مقرر,ملغى,48,171.0,16,13,27,F
135144,858302,محمود عماد محمد ابراهيم,الخارجة ث بنين,الخارجة,الوادي الجديد,أدبي,55.61%,طلاب,راسب,ملغى,35,30,غير مقرر,40,30,49,44,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,228.0,17,19,33,M
138169,865930,احمد وليد مزارع ابراهيم,منازل إدارة ابوقرقاص,ابوقرقاص,المنيا,أدبي,45.61%,طلاب,راسب,27,25,32,غير مقرر,ملغى,31,42,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,187.0,إجتياز,إجتياز,إجتياز,M
138205,866008,محمد حاتم محمد عبدالحافظ,بنى خيار الثانوية المشتركة,ابوقرقاص,المنيا,علمي علوم,43.17%,طلاب,راسب,40,25,22,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,30,غير مقرر,ملغى,177.0,إجتياز,إجتياز,إجتياز,M
143565,889548,احمد حماده ابوزيد عبدالجواد,ناصر الثانوية الخاصة,ديروط,اسيوط,أدبي,49.76%,طلاب,راسب,ملغى,25,28,غير مقرر,40,40,30,41,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,204.0,13,13,25,M
143674,889812,محمود صفوت صدقي عبدالرسول,فصول خدمات احمد قرشي الثانويه المشتركه,ديروط,اسيوط,علمي علوم,76.83%,طلاب,راسب,40,46,33,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,44,52,48,غير مقرر,52,315.0,15,13,ملغى,M
145209,895435,عبدالرحمن عبدالبصير محمد فرغل,فصول دير القصير الثانوية,القوصية,اسيوط,أدبي,40.24%,طلاب,راسب,40,30,20,غير مقرر,37,ملغى,38,ملغى,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,165.0,17,16,25,M
146393,900447,محمد خالد اسماعيل عبدالله,دير الجنادلة الثانوية المشتركة,الغنايم,اسيوط,أدبي,62.68%,طلاب,راسب,58,ملغى,34,غير مقرر,42,35,46,42,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,257.0,17,17,25,M
146404,900479,نورهان ناصر خلف عبدالغني,دير الجنادلة الثانوية المشتركة,الغنايم,اسيوط,أدبي,53.41%,طلاب,راسب,44,ملغى,28,غير مقرر,30,32,51,34,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,219.0,19,15,25,F
146405,900480,هاجر حموده عبدالحميد عثمان,دير الجنادلة الثانوية المشتركة,الغنايم,اسيوط,أدبي,37.80%,طلاب,راسب,40,ملغى,25,غير مقرر,30,30,غائب,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,155.0,20,13,25,F
154103,932498,هدير جادالله شحاته عزب,جرجا الثانوية بنات الجديدة,جرجا,سوهاج,علمي رياضة,46.34%,طلاب,راسب,40,25,35,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,غير مقرر,غير مقرر,ملغى,30,190.0,إجتياز,إجتياز,إجتياز,F
154572,933931,احمد حسني نصرالدين عبدالحميد,مدرسة النيل الخاصة الثانوية,دار السلام,القاهرة,أدبي,63.90%,طلاب,راسب,57,37,ملغى,غير مقرر,52,39,47,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,262.0,إجتياز,إجتياز,إجتياز,M

**Also Since they are low number of students we could drop them**

In [37]:
df = df.drop(index=(Cancled_Students.index))
df

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,105416,حاتم عصاممحمد عمادالدين عبدالحميد,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88%,طلاب,ناجح,56,25,20,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,غير مقرر,غير مقرر,33,31,225.0,18,20,31,M
401,105463,دنيا محمد فوزي عبدالله,العجوزة ث بنات,العجوزة,الجيزة,أدبي,74.88%,طلاب,ناجح,76,26,20,غير مقرر,47,30,60,48,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,307.0,16,12.5,28.5,F
403,105478,عمر حسين محمود ابراهيم محمود,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,أدبي,55.85%,طلاب,ناجح,42,33,20,غير مقرر,30,38,36,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,229.0,21,12.5,25,M
404,105485,ابراهيم جمال السيد احمد هريدي,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93%,طلاب,ناجح,73,44,20,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,31,30,30,غير مقرر,30,258.0,18,25,28,M
406,105506,هاجر يحيي محمد احمد,بشتيل ث بنات,اوسيم,الجيزة,أدبي,79.51%,طلاب,ناجح,54,30,20,غير مقرر,56,60,54,52,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,326.0,21,20,26,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155524,937400,محمد رفعت محمد فراج,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80%,طلاب,راسب,غائب,37,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,37,56,غير مقرر,36,196.0,إجتياز,إجتياز,إجتياز,M
155525,937403,اسراء عبدالراضي محمد عبدالرحيم,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41%,طلاب,ناجح,53.5,29,33,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,34,غير مقرر,30,239.5,إجتياز,إجتياز,إجتياز,F
155526,937404,هدير ماهر كامل محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85%,طلاب,ناجح,40.5,38,35,غير مقرر,30,30,37,39,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,249.5,إجتياز,إجتياز,إجتياز,F
155527,937408,خلود حسن عبدالستار محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05%,طلاب,ناجح,40,39,21,غير مقرر,30,33,40,35,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,238.0,إجتياز,إجتياز,إجتياز,F
155528,937409,دنيا احمد عبدالعظيم عبدالوهاب,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85%,طلاب,ناجح,42,35,31,غير مقرر,30,43,43,46,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,270.0,إجتياز,إجتياز,إجتياز,F



---

#### **Absent Students : `غائب`**

In [38]:
Absent_Students = df[df.values=="غائب"].drop_duplicates()
Absent_Students

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
491,106268,محمد احمد امين عزب,الاورمان الرسمية لغات بنين,الدقى,الجيزة,علمي رياضة,36.34%,طلاب,راسب,44,25,20,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غير مقرر,غير مقرر,30,غائب,149.0,18,13,32,M
522,106432,بسنت عمادالدين صالح محمود سليمان,الاورمان الرسمية لغات بنات,الدقى,الجيزة,علمي رياضة,46.59%,طلاب,راسب,49,44,38,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غير مقرر,غير مقرر,30,30,191.0,19,19,35,F
667,107396,فريده وائل سيد محمد طنطاوي,نارمر الحديثة خ لغات بنات,الدقى,الجيزة,علمي رياضة,0.00%,طلاب,راسب,غائب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غير مقرر,غير مقرر,0,غائب,0.0,غائب,غائب,غائب,F
683,107497,جني محمد سيد محمد علي,طلائع المستقبل خ لغات بنات,الدقى,الجيزة,علمي علوم,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غائب,غائب,غير مقرر,غائب,0.0,غائب,غائب,غائب,F
684,107499,ليالي حسين نعيم حسن ابوثريا,طلائع المستقبل خ لغات بنات,الدقى,الجيزة,علمي علوم,52.93%,طلاب,راسب,45,45,37,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,30,غير مقرر,غائب,217.0,18,13,28,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155440,936921,ايه دهيس عبدالمجيد محمد,منازل إدارة المنشأة,المنشأة,سوهاج,أدبي,53.17%,طلاب,راسب,غائب,42,33,غير مقرر,30,34.5,30.5,48,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,218.0,14,19,26,F
155483,937125,احمد مرتضي ابوعرب عبدالعال,منازل إدارة المراغة,المراغة,سوهاج,علمي علوم,70.12%,طلاب,راسب,53,47.5,20,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,57,57.5,غير مقرر,52.5,287.5,إجتياز,إجتياز,إجتياز,M
155490,937138,رحمه حسن مهني حماده,منازل إدارة المراغة,المراغة,سوهاج,علمي علوم,43.29%,طلاب,راسب,43,40,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,32.5,غائب,غير مقرر,32,177.5,إجتياز,إجتياز,إجتياز,F
155501,937210,هيثم عبدالعال احمد طه,منازل إدارة ساقلتة,ساقلتة,سوهاج,أدبي,48.78%,طلاب,راسب,40,40,24,غير مقرر,30,غائب,36,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,200.0,إجتياز,إجتياز,إجتياز,M
155524,937400,محمد رفعت محمد فراج,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80%,طلاب,راسب,غائب,37,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,37,56,غير مقرر,36,196.0,إجتياز,إجتياز,إجتياز,M

In [39]:
(len(Absent_Students) / len(df)) * 100

1.0318698316766417

**Only 1% of Students were absent in the second exams .**

**We will replace them with Zeroes to continue our other analysis**

> **But Let's Check first on Students that got Zero grade in any Subject**

In [40]:
Zero_Students = df[df.values==0].drop_duplicates()
Zero_Students

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
667,107396,فريده وائل سيد محمد طنطاوي,نارمر الحديثة خ لغات بنات,الدقى,الجيزة,علمي رياضة,0.00%,طلاب,راسب,غائب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غير مقرر,غير مقرر,0,غائب,0.0,غائب,غائب,غائب,F
683,107497,جني محمد سيد محمد علي,طلائع المستقبل خ لغات بنات,الدقى,الجيزة,علمي علوم,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غائب,غائب,غير مقرر,غائب,0.0,غائب,غائب,غائب,F
892,108762,عمر خالد صلاح عسكر محمد,الاهرامات خ لغات بنين,الهرم,الجيزة,أدبي,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غائب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,0.0,غائب,غائب,غائب,M
5209,128399,نوران هشاممحمد شفيق,الثانوية بنات بخدمات حى7/حى8,أكتوبر,الجيزة,علمي رياضة,0.00%,طلاب,راسب,غائب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غير مقرر,غير مقرر,0,غائب,0.0,غائب,غائب,غائب,F
9997,146009,سيفالدين محمد عبدالوهاب محمد,الشهيد هشام كمال طعمه (النيل ث بنين سابقا),بنى سويف,بني سويف,علمي علوم,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غائب,غائب,غير مقرر,غائب,0.0,غائب,غائب,غائب,M
10015,146117,علي محمد عبدالعظيم علي,الشهيد هشام كمال طعمه (النيل ث بنين سابقا),بنى سويف,بني سويف,علمي رياضة,0.00%,طلاب,راسب,غائب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غير مقرر,غير مقرر,0,غائب,0.0,غائب,غائب,غائب,M
10545,148776,محمد فتحي محمد رمضان,ابشنا الثانوية بنين,بنى سويف,بني سويف,أدبي,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غائب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,0.0,غائب,غائب,غائب,M
12425,158018,دينا سعد محمد محمد,السيدة خديجة ث بنات,سمسطا,بني سويف,علمي علوم,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غائب,غائب,غير مقرر,غائب,0.0,18,18,28,F
16146,173087,ايمن حسن عبدالحميد احمد,خدمات على بن ابى طالب ث بنين,بنى سويف,بني سويف,أدبي,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غائب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,0.0,غائب,غائب,غائب,M
17408,176383,احمد هاني حشمت عبدالبصير,الرائد احمد محمد عبده الرسمية المتميزه لغات بن...,بنى سويف,بني سويف,علمي رياضة,0.00%,طلاب,راسب,غائب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غير مقرر,غير مقرر,0,غائب,0.0,18,17,25,M
20753,183712,مها رافت احمد عبدالخالق,الشهيد محمد احمد عبد السلام بنات,اطسا,الفيوم,علمي رياضة,0.00%,طلاب,راسب,غائب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غير مقرر,غير مقرر,0,غائب,0.0,21,23,34,F
24218,196641,اماني محمود رجب عبود,منازل ادارة العياط بنات,العياط,الجيزة,علمي علوم,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غائب,غائب,غير مقرر,غائب,0.0,إجتياز,إجتياز,إجتياز,F
46961,315500,محمد حسين فتحي صالح,الشهيد الرائد احمد خالد صلاح ابراهيم الحجار,العمرانية,الجيزة,أدبي,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غائب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,0.0,18,19,25,M
51729,336914,ايه محمد محمود عتمان,جزى الثانوية المشتركة,منوف,المنوفية,علمي علوم,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غائب,غائب,غير مقرر,غائب,0.0,16,17,غائب,F
104070,618932,روان رضا عبدالمنعم طلخان,المحلة الكبرى الثانوية بنات,غرب المحلة,الغربية,أدبي,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غائب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,0.0,16,غائب,25,F
105013,625365,نانسي عاطف عبدالرؤف العتر,مسجد وصيف الثانويه المشتركه,زفتا,الغربية,علمي علوم,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غائب,غائب,غير مقرر,غائب,0.0,19,18,25,F
105960,634167,رضوي ربيع احمد زيدان,الضهرة الثانوية الجديدة,الروضة,دمياط,أدبي,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غائب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,0.0,غائب,غائب,غائب,F
108260,653446,الشيماء احمد السيد محمد ايوب,الشهيد السيد فتحي جمعان الثانوية للبنات,ابو كبير,الشرقية,علمي علوم,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غائب,غائب,غير مقرر,غائب,0.0,غائب,غائب,غائب,F
108418,654542,محمد علي عبداللطيف علي,الشهيد العقيد أ . ح / محمد فاروق عبدالقادر سلي...,كفر صقر,الشرقية,علمي علوم,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غائب,غائب,غير مقرر,غائب,0.0,غائب,غائب,غائب,M
142684,886112,مصطفي عبدالعظيم احمد اسماعيل,السلام الحديثة الخاصة - عربى,اسيوط,اسيوط,علمي علوم,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غائب,غائب,غير مقرر,غائب,0.0,غائب,غائب,غائب,M
147780,905704,احمد احمد فتوح قاسم,بندار الكرمانية الثانوية المشتركة,سوهاج,سوهاج,علمي علوم,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غائب,غائب,غير مقرر,غائب,0.0,19,18,غائب,M
150079,915554,ايه نصرالدين كمال حمدان,قدرى المشنب الثانوية بنات بأخميم,اخميم,سوهاج,علمي علوم,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غائب,غائب,غير مقرر,غائب,0.0,20,20,28,F
151021,921107,عزت عبدالخالق محمد محمود,عبد الحميد رضوان الثانوية العامة المشتركة,دار السلام,القاهرة,علمي رياضة,0.00%,طلاب,راسب,غائب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غائب,غير مقرر,غير مقرر,غائب,غائب,0.0,غائب,غائب,غائب,M
151413,925209,نورهان علي عبدالحميد احمد,منازل إدارة اسيوط,اسيوط,اسيوط,أدبي,0.00%,طلاب,راسب,غائب,غائب,غائب,غير مقرر,غائب,غائب,غائب,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,0.0,غائب,غائب,غائب,F

In [41]:
Zero_Students["Percentage"].value_counts()

0.00%    24
Name: Percentage, dtype: int64

In [42]:
Zero_Students["religion"].value_counts()

غائب      14
18         3
16         2
19         2
21         1
إجتياز     1
20         1
Name: religion, dtype: int64

In [43]:
Zero_Students["altarbiat_alwatania"].value_counts()

غائب      15
18         3
17         2
23         1
إجتياز     1
19         1
20         1
Name: altarbiat_alwatania, dtype: int64

In [44]:
Zero_Students["economics_statistics"].value_counts()

غائب      16
25         4
28         2
34         1
إجتياز     1
Name: economics_statistics, dtype: int64

**They didn't take any exam to a subject that participate in Total Grade, But some of them take exams for the last 3 subjects that don't participate in total grade**

**Since they are very low number of students, We will drop them**

In [45]:
df = df.drop(index=(Zero_Students.index))
df

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,105416,حاتم عصاممحمد عمادالدين عبدالحميد,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88%,طلاب,ناجح,56,25,20,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,غير مقرر,غير مقرر,33,31,225.0,18,20,31,M
401,105463,دنيا محمد فوزي عبدالله,العجوزة ث بنات,العجوزة,الجيزة,أدبي,74.88%,طلاب,ناجح,76,26,20,غير مقرر,47,30,60,48,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,307.0,16,12.5,28.5,F
403,105478,عمر حسين محمود ابراهيم محمود,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,أدبي,55.85%,طلاب,ناجح,42,33,20,غير مقرر,30,38,36,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,229.0,21,12.5,25,M
404,105485,ابراهيم جمال السيد احمد هريدي,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93%,طلاب,ناجح,73,44,20,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,31,30,30,غير مقرر,30,258.0,18,25,28,M
406,105506,هاجر يحيي محمد احمد,بشتيل ث بنات,اوسيم,الجيزة,أدبي,79.51%,طلاب,ناجح,54,30,20,غير مقرر,56,60,54,52,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,326.0,21,20,26,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155524,937400,محمد رفعت محمد فراج,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80%,طلاب,راسب,غائب,37,غائب,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,37,56,غير مقرر,36,196.0,إجتياز,إجتياز,إجتياز,M
155525,937403,اسراء عبدالراضي محمد عبدالرحيم,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41%,طلاب,ناجح,53.5,29,33,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,34,غير مقرر,30,239.5,إجتياز,إجتياز,إجتياز,F
155526,937404,هدير ماهر كامل محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85%,طلاب,ناجح,40.5,38,35,غير مقرر,30,30,37,39,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,249.5,إجتياز,إجتياز,إجتياز,F
155527,937408,خلود حسن عبدالستار محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05%,طلاب,ناجح,40,39,21,غير مقرر,30,33,40,35,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,238.0,إجتياز,إجتياز,إجتياز,F
155528,937409,دنيا احمد عبدالعظيم عبدالوهاب,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85%,طلاب,ناجح,42,35,31,غير مقرر,30,43,43,46,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,270.0,إجتياز,إجتياز,إجتياز,F

In [46]:
null_categories = ["غائب"]

df = df.replace(null_categories, 0)
df

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,105416,حاتم عصاممحمد عمادالدين عبدالحميد,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88%,طلاب,ناجح,56,25,20,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,غير مقرر,غير مقرر,33,31,225.0,18,20,31,M
401,105463,دنيا محمد فوزي عبدالله,العجوزة ث بنات,العجوزة,الجيزة,أدبي,74.88%,طلاب,ناجح,76,26,20,غير مقرر,47,30,60,48,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,307.0,16,12.5,28.5,F
403,105478,عمر حسين محمود ابراهيم محمود,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,أدبي,55.85%,طلاب,ناجح,42,33,20,غير مقرر,30,38,36,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,229.0,21,12.5,25,M
404,105485,ابراهيم جمال السيد احمد هريدي,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93%,طلاب,ناجح,73,44,20,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,31,30,30,غير مقرر,30,258.0,18,25,28,M
406,105506,هاجر يحيي محمد احمد,بشتيل ث بنات,اوسيم,الجيزة,أدبي,79.51%,طلاب,ناجح,54,30,20,غير مقرر,56,60,54,52,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,326.0,21,20,26,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155524,937400,محمد رفعت محمد فراج,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80%,طلاب,راسب,0,37,0,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,37,56,غير مقرر,36,196.0,إجتياز,إجتياز,إجتياز,M
155525,937403,اسراء عبدالراضي محمد عبدالرحيم,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41%,طلاب,ناجح,53.5,29,33,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,34,غير مقرر,30,239.5,إجتياز,إجتياز,إجتياز,F
155526,937404,هدير ماهر كامل محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85%,طلاب,ناجح,40.5,38,35,غير مقرر,30,30,37,39,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,249.5,إجتياز,إجتياز,إجتياز,F
155527,937408,خلود حسن عبدالستار محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05%,طلاب,ناجح,40,39,21,غير مقرر,30,33,40,35,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,238.0,إجتياز,إجتياز,إجتياز,F
155528,937409,دنيا احمد عبدالعظيم عبدالوهاب,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85%,طلاب,ناجح,42,35,31,غير مقرر,30,43,43,46,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,270.0,إجتياز,إجتياز,إجتياز,F

**So Now we know that if a student have a Zero Grade in a subject he was absent**



---

#### **Not in Student Specialization : `غير مقرر`**

In [47]:
df[df.values=="غير مقرر"].drop_duplicates()

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,105416,حاتم عصاممحمد عمادالدين عبدالحميد,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88%,طلاب,ناجح,56,25,20,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,غير مقرر,غير مقرر,33,31,225.0,18,20,31,M
401,105463,دنيا محمد فوزي عبدالله,العجوزة ث بنات,العجوزة,الجيزة,أدبي,74.88%,طلاب,ناجح,76,26,20,غير مقرر,47,30,60,48,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,307.0,16,12.5,28.5,F
403,105478,عمر حسين محمود ابراهيم محمود,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,أدبي,55.85%,طلاب,ناجح,42,33,20,غير مقرر,30,38,36,30,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,229.0,21,12.5,25,M
404,105485,ابراهيم جمال السيد احمد هريدي,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93%,طلاب,ناجح,73,44,20,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,31,30,30,غير مقرر,30,258.0,18,25,28,M
406,105506,هاجر يحيي محمد احمد,بشتيل ث بنات,اوسيم,الجيزة,أدبي,79.51%,طلاب,ناجح,54,30,20,غير مقرر,56,60,54,52,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,326.0,21,20,26,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155524,937400,محمد رفعت محمد فراج,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80%,طلاب,راسب,0,37,0,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,37,56,غير مقرر,36,196.0,إجتياز,إجتياز,إجتياز,M
155525,937403,اسراء عبدالراضي محمد عبدالرحيم,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41%,طلاب,ناجح,53.5,29,33,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,30,30,34,غير مقرر,30,239.5,إجتياز,إجتياز,إجتياز,F
155526,937404,هدير ماهر كامل محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85%,طلاب,ناجح,40.5,38,35,غير مقرر,30,30,37,39,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,249.5,إجتياز,إجتياز,إجتياز,F
155527,937408,خلود حسن عبدالستار محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05%,طلاب,ناجح,40,39,21,غير مقرر,30,33,40,35,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,238.0,إجتياز,إجتياز,إجتياز,F
155528,937409,دنيا احمد عبدالعظيم عبدالوهاب,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85%,طلاب,ناجح,42,35,31,غير مقرر,30,43,43,46,غير مقرر,غير مقرر,غير مقرر,غير مقرر,غير مقرر,270.0,إجتياز,إجتياز,إجتياز,F

**We will need this students , since they are from diffrent specialization , they have some subjects that are "غير مقرر" (Not in there specialization)**

> **We will Treat this problem by seperating student by We will need this students , since they are from diffrent specialization , they have some subjects that are "غير مقرر" (Not in there specialization)**

> **But For now we will replace them with NAN**

In [48]:
null_categories = ["غير مقرر"]

df = df.replace(null_categories, np.nan)
df

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,105416,حاتم عصاممحمد عمادالدين عبدالحميد,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88%,طلاب,ناجح,56,25,20,30,NaN,NaN,NaN,NaN,30,NaN,NaN,33,31,225.0,18,20,31,M
401,105463,دنيا محمد فوزي عبدالله,العجوزة ث بنات,العجوزة,الجيزة,أدبي,74.88%,طلاب,ناجح,76,26,20,NaN,47,30,60,48,NaN,NaN,NaN,NaN,NaN,307.0,16,12.5,28.5,F
403,105478,عمر حسين محمود ابراهيم محمود,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,أدبي,55.85%,طلاب,ناجح,42,33,20,NaN,30,38,36,30,NaN,NaN,NaN,NaN,NaN,229.0,21,12.5,25,M
404,105485,ابراهيم جمال السيد احمد هريدي,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93%,طلاب,ناجح,73,44,20,NaN,NaN,NaN,NaN,NaN,31,30,30,NaN,30,258.0,18,25,28,M
406,105506,هاجر يحيي محمد احمد,بشتيل ث بنات,اوسيم,الجيزة,أدبي,79.51%,طلاب,ناجح,54,30,20,NaN,56,60,54,52,NaN,NaN,NaN,NaN,NaN,326.0,21,20,26,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155524,937400,محمد رفعت محمد فراج,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80%,طلاب,راسب,0,37,0,NaN,NaN,NaN,NaN,NaN,30,37,56,NaN,36,196.0,إجتياز,إجتياز,إجتياز,M
155525,937403,اسراء عبدالراضي محمد عبدالرحيم,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41%,طلاب,ناجح,53.5,29,33,NaN,NaN,NaN,NaN,NaN,30,30,34,NaN,30,239.5,إجتياز,إجتياز,إجتياز,F
155526,937404,هدير ماهر كامل محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85%,طلاب,ناجح,40.5,38,35,NaN,30,30,37,39,NaN,NaN,NaN,NaN,NaN,249.5,إجتياز,إجتياز,إجتياز,F
155527,937408,خلود حسن عبدالستار محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05%,طلاب,ناجح,40,39,21,NaN,30,33,40,35,NaN,NaN,NaN,NaN,NaN,238.0,إجتياز,إجتياز,إجتياز,F
155528,937409,دنيا احمد عبدالعظيم عبدالوهاب,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85%,طلاب,ناجح,42,35,31,NaN,30,43,43,46,NaN,NaN,NaN,NaN,NaN,270.0,إجتياز,إجتياز,إجتياز,F



---

###**Subjects that don't participate in Total Grade**

In [49]:
df["religion"].value_counts()

إجتياز    32738
18        16606
19        16061
17        14838
20        13906
16        11798
21        10548
13         9941
15         8831
22         6318
14         6284
23         2964
25         1055
24          967
12.5        219
16.5         18
17.5         16
19.5         16
15.5         13
13.5         12
0             9
18.5          9
21.5          7
20.5          7
14.5          6
22.5          3
5             2
6             1
Name: religion, dtype: int64

In [50]:
df["altarbiat_alwatania"].value_counts()

إجتياز    32699
13        20688
17        14117
18        13585
16        13358
19        11763
15        11749
20         9615
14         9529
21         6984
22         4308
23         2145
25         1106
24          808
12.5        348
17.5         77
16.5         51
15.5         49
18.5         33
14.5         32
19.5         32
13.5         29
20.5         22
0            22
22.5         17
21.5         15
24.5          6
10            2
7             2
23.5          1
6             1
Name: altarbiat_alwatania, dtype: int64

In [51]:
df["economics_statistics"].value_counts()

25        63458
إجتياز    32940
26         8725
27         8004
28         7685
          ...
38.5          1
37.5          1
48            1
3             1
40.5          1
Name: economics_statistics, Length: 54, dtype: int64

In [52]:
df["religion"].value_counts()

إجتياز    32738
18        16606
19        16061
17        14838
20        13906
16        11798
21        10548
13         9941
15         8831
22         6318
14         6284
23         2964
25         1055
24          967
12.5        219
16.5         18
17.5         16
19.5         16
15.5         13
13.5         12
0             9
18.5          9
21.5          7
20.5          7
14.5          6
22.5          3
5             2
6             1
Name: religion, dtype: int64

**And Finally "Passing" `"إجتياز"` For the Subjects that don't participate in Total Grade
[ `'religion'`,	`'altarbiat_alwatania'`,	`'economics_statistics'` ]**

In [53]:
Failed_NotInTotal_Subjects = df[df.values=="إجتياز"].drop_duplicates()
Failed_NotInTotal_Subjects

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
412,105554,رحاب علي زكريا شحاته,منازل ادارة بولاق الدكرور بنات,بولاق الدكرور,الجيزة,أدبي,60.49%,طلاب,ناجح,51,28,20,NaN,33,30,56,30,NaN,NaN,NaN,NaN,NaN,248.0,إجتياز,إجتياز,إجتياز,F
419,105621,سهامسامي لبيق مجلي,ابناء الاندلس الخاصه (2) عربي ث م بنات,كرداسة,الجيزة,أدبي,58.29%,طلاب,ناجح,40,25,20,NaN,36,45,35,38,NaN,NaN,NaN,NaN,NaN,239.0,إجتياز,إجتياز,إجتياز,F
420,105641,ميار عادل ابراهيم قنديل شعبان,منازل ادارة الهرم بنات,الهرم,الجيزة,أدبي,65.12%,طلاب,ناجح,40,46,20,NaN,30,43,35,53,NaN,NaN,NaN,NaN,NaN,267.0,إجتياز,إجتياز,إجتياز,F
421,105643,نجلاء عمر عبدالوهاب محمد,منازل ادارة اوسيم بنات,اوسيم,الجيزة,علمي علوم,56.83%,طلاب,ناجح,55,35,21,NaN,NaN,NaN,NaN,NaN,30,30,30,NaN,32,233.0,إجتياز,16.5,إجتياز,F
422,105645,مروان ايمن محمد عثمان,منازل ادارة 6 اكتوبر بنين,أكتوبر,الجيزة,أدبي,55.37%,طلاب,ناجح,50,32,20,NaN,30,30,35,30,NaN,NaN,NaN,NaN,NaN,227.0,12.5,12.5,إجتياز,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155524,937400,محمد رفعت محمد فراج,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80%,طلاب,راسب,0,37,0,NaN,NaN,NaN,NaN,NaN,30,37,56,NaN,36,196.0,إجتياز,إجتياز,إجتياز,M
155525,937403,اسراء عبدالراضي محمد عبدالرحيم,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41%,طلاب,ناجح,53.5,29,33,NaN,NaN,NaN,NaN,NaN,30,30,34,NaN,30,239.5,إجتياز,إجتياز,إجتياز,F
155526,937404,هدير ماهر كامل محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85%,طلاب,ناجح,40.5,38,35,NaN,30,30,37,39,NaN,NaN,NaN,NaN,NaN,249.5,إجتياز,إجتياز,إجتياز,F
155527,937408,خلود حسن عبدالستار محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05%,طلاب,ناجح,40,39,21,NaN,30,33,40,35,NaN,NaN,NaN,NaN,NaN,238.0,إجتياز,إجتياز,إجتياز,F
155528,937409,دنيا احمد عبدالعظيم عبدالوهاب,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85%,طلاب,ناجح,42,35,31,NaN,30,43,43,46,NaN,NaN,NaN,NaN,NaN,270.0,إجتياز,إجتياز,إجتياز,F

**They Are about 33032  Student !**

In [54]:
Failed_NotInTotal_Subjects["status"].value_counts()

ناجح    26808
راسب     6224
Name: status, dtype: int64

In [55]:
df["status"].value_counts()

ناجح    135911
راسب     17282
Name: status, dtype: int64

**Noticable Number of the Students fail in the second exams because of this Subjects**

> **Since they are a lot of students we will seperate them to do analysis on**

**But We will replace them with -1 to continue our other analysis**

In [56]:
null_categories = ["إجتياز"]

df = df.replace(null_categories, -1)
df

,desk_no,name,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,105416,حاتم عصاممحمد عمادالدين عبدالحميد,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88%,طلاب,ناجح,56,25,20,30,NaN,NaN,NaN,NaN,30,NaN,NaN,33,31,225.0,18,20,31,M
401,105463,دنيا محمد فوزي عبدالله,العجوزة ث بنات,العجوزة,الجيزة,أدبي,74.88%,طلاب,ناجح,76,26,20,NaN,47,30,60,48,NaN,NaN,NaN,NaN,NaN,307.0,16,12.5,28.5,F
403,105478,عمر حسين محمود ابراهيم محمود,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,أدبي,55.85%,طلاب,ناجح,42,33,20,NaN,30,38,36,30,NaN,NaN,NaN,NaN,NaN,229.0,21,12.5,25,M
404,105485,ابراهيم جمال السيد احمد هريدي,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93%,طلاب,ناجح,73,44,20,NaN,NaN,NaN,NaN,NaN,31,30,30,NaN,30,258.0,18,25,28,M
406,105506,هاجر يحيي محمد احمد,بشتيل ث بنات,اوسيم,الجيزة,أدبي,79.51%,طلاب,ناجح,54,30,20,NaN,56,60,54,52,NaN,NaN,NaN,NaN,NaN,326.0,21,20,26,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155524,937400,محمد رفعت محمد فراج,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80%,طلاب,راسب,0,37,0,NaN,NaN,NaN,NaN,NaN,30,37,56,NaN,36,196.0,-1,-1,-1,M
155525,937403,اسراء عبدالراضي محمد عبدالرحيم,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41%,طلاب,ناجح,53.5,29,33,NaN,NaN,NaN,NaN,NaN,30,30,34,NaN,30,239.5,-1,-1,-1,F
155526,937404,هدير ماهر كامل محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85%,طلاب,ناجح,40.5,38,35,NaN,30,30,37,39,NaN,NaN,NaN,NaN,NaN,249.5,-1,-1,-1,F
155527,937408,خلود حسن عبدالستار محمد,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05%,طلاب,ناجح,40,39,21,NaN,30,33,40,35,NaN,NaN,NaN,NaN,NaN,238.0,-1,-1,-1,F
155528,937409,دنيا احمد عبدالعظيم عبدالوهاب,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85%,طلاب,ناجح,42,35,31,NaN,30,43,43,46,NaN,NaN,NaN,NaN,NaN,270.0,-1,-1,-1,F



---

##**Converting Numerical Columns**

In [57]:
df["desk_no"] = df["desk_no"].astype("int")
df["desk_no"]

400       105416
401       105463
403       105478
404       105485
406       105506
           ...
155524    937400
155525    937403
155526    937404
155527    937408
155528    937409
Name: desk_no, Length: 153193, dtype: int64

In [58]:
float_cols=['arabic', 'first_foreign_lang', 'second_foreign_lang',
       'pure_mathematics', 'history', 'geography', 'philosophy', 'psychology',
       'chemistry', 'biology', 'geology', 'applied_math', 'physics', 'total',
       'religion', 'altarbiat_alwatania', 'economics_statistics']



for col in float_cols:
  print(col) 
  df[col] = df[col].astype("float")

arabic
first_foreign_lang
second_foreign_lang
pure_mathematics
history
geography
philosophy
psychology
chemistry
biology
geology
applied_math
physics
total
religion
altarbiat_alwatania
economics_statistics

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153193 entries, 400 to 155528
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   desk_no               153193 non-null  int64
 1   name                  153193 non-null  object
 2   school_name_arabic    153193 non-null  category
 3   administration        153193 non-null  category
 4   government_Arabic     153193 non-null  category
 5   branch                153193 non-null  category
 6   Percentage            153193 non-null  object
 7   student_type          153193 non-null  category
 8   status                153193 non-null  category
 9   arabic                153192 non-null  float64
 10  first_foreign_lang    153193 non-null  float64
 11  second_foreign_lang   153192 non-null  float64
 12  pure_mathematics      17093 non-null   float64
 13  history               72662 non-null   float64
 14  geography             72662 non-null   float64
 15  philosophy            72662 non-null   float64
 16  psychology            72662 non-null   float64
 17  chemistry             80531 non-null   float64
 18  biology               63438 non-null   float64
 19  geology               63438 non-null   float64
 20  applied_math          17093 non-null   float64
 21  physics               80531 non-null   float64
 22  total                 153193 non-null  float64
 23  religion              153193 non-null  float64
 24  altarbiat_alwatania   153193 non-null  float64
 25  economics_statistics  153193 non-null  float64
 26  gender                153193 non-null  category
dtypes: category(7), float64(17), int64(1), object(2)
memory usage: 26.0+ MB

## **For the Percentage Column**

In [60]:
df["Percentage"] = df["Percentage"].str.strip("%").astype("float")
df["Percentage"]

400       54.88
401       74.88
403       55.85
404       62.93
406       79.51
          ...
155524    47.80
155525    58.41
155526    60.85
155527    58.05
155528    65.85
Name: Percentage, Length: 153193, dtype: float64

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153193 entries, 400 to 155528
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   desk_no               153193 non-null  int64
 1   name                  153193 non-null  object
 2   school_name_arabic    153193 non-null  category
 3   administration        153193 non-null  category
 4   government_Arabic     153193 non-null  category
 5   branch                153193 non-null  category
 6   Percentage            153193 non-null  float64
 7   student_type          153193 non-null  category
 8   status                153193 non-null  category
 9   arabic                153192 non-null  float64
 10  first_foreign_lang    153193 non-null  float64
 11  second_foreign_lang   153192 non-null  float64
 12  pure_mathematics      17093 non-null   float64
 13  history               72662 non-null   float64
 14  geography             72662 non-null   float64
 15  philosophy            72662 non-null   float64
 16  psychology            72662 non-null   float64
 17  chemistry             80531 non-null   float64
 18  biology               63438 non-null   float64
 19  geology               63438 non-null   float64
 20  applied_math          17093 non-null   float64
 21  physics               80531 non-null   float64
 22  total                 153193 non-null  float64
 23  religion              153193 non-null  float64
 24  altarbiat_alwatania   153193 non-null  float64
 25  economics_statistics  153193 non-null  float64
 26  gender                153193 non-null  category
dtypes: category(7), float64(18), int64(1), object(1)
memory usage: 26.0+ MB

## **Final Steps**

In [62]:
df.isna().sum()

desk_no                      0
name                         0
school_name_arabic           0
administration               0
government_Arabic            0
branch                       0
Percentage                   0
student_type                 0
status                       0
arabic                       1
first_foreign_lang           0
second_foreign_lang          1
pure_mathematics        136100
history                  80531
geography                80531
philosophy               80531
psychology               80531
chemistry                72662
biology                  89755
geology                  89755
applied_math            136100
physics                  72662
total                        0
religion                     0
altarbiat_alwatania          0
economics_statistics         0
gender                       0
dtype: int64

**We will drop Name and Desk Number Columns, Since they are not useful in analysis**

In [63]:
df = df.drop(columns=["name","desk_no"])
df

,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,history,geography,philosophy,psychology,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88,طلاب,ناجح,56.0,25.0,20.0,30.0,NaN,NaN,NaN,NaN,30.0,NaN,NaN,33.0,31.0,225.0,18.0,20.0,31.0,M
401,العجوزة ث بنات,العجوزة,الجيزة,أدبي,74.88,طلاب,ناجح,76.0,26.0,20.0,NaN,47.0,30.0,60.0,48.0,NaN,NaN,NaN,NaN,NaN,307.0,16.0,12.5,28.5,F
403,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,أدبي,55.85,طلاب,ناجح,42.0,33.0,20.0,NaN,30.0,38.0,36.0,30.0,NaN,NaN,NaN,NaN,NaN,229.0,21.0,12.5,25.0,M
404,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93,طلاب,ناجح,73.0,44.0,20.0,NaN,NaN,NaN,NaN,NaN,31.0,30.0,30.0,NaN,30.0,258.0,18.0,25.0,28.0,M
406,بشتيل ث بنات,اوسيم,الجيزة,أدبي,79.51,طلاب,ناجح,54.0,30.0,20.0,NaN,56.0,60.0,54.0,52.0,NaN,NaN,NaN,NaN,NaN,326.0,21.0,20.0,26.0,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155524,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80,طلاب,راسب,0.0,37.0,0.0,NaN,NaN,NaN,NaN,NaN,30.0,37.0,56.0,NaN,36.0,196.0,-1.0,-1.0,-1.0,M
155525,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41,طلاب,ناجح,53.5,29.0,33.0,NaN,NaN,NaN,NaN,NaN,30.0,30.0,34.0,NaN,30.0,239.5,-1.0,-1.0,-1.0,F
155526,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85,طلاب,ناجح,40.5,38.0,35.0,NaN,30.0,30.0,37.0,39.0,NaN,NaN,NaN,NaN,NaN,249.5,-1.0,-1.0,-1.0,F
155527,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05,طلاب,ناجح,40.0,39.0,21.0,NaN,30.0,33.0,40.0,35.0,NaN,NaN,NaN,NaN,NaN,238.0,-1.0,-1.0,-1.0,F
155528,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85,طلاب,ناجح,42.0,35.0,31.0,NaN,30.0,43.0,43.0,46.0,NaN,NaN,NaN,NaN,NaN,270.0,-1.0,-1.0,-1.0,F

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153193 entries, 400 to 155528
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   school_name_arabic    153193 non-null  category
 1   administration        153193 non-null  category
 2   government_Arabic     153193 non-null  category
 3   branch                153193 non-null  category
 4   Percentage            153193 non-null  float64
 5   student_type          153193 non-null  category
 6   status                153193 non-null  category
 7   arabic                153192 non-null  float64
 8   first_foreign_lang    153193 non-null  float64
 9   second_foreign_lang   153192 non-null  float64
 10  pure_mathematics      17093 non-null   float64
 11  history               72662 non-null   float64
 12  geography             72662 non-null   float64
 13  philosophy            72662 non-null   float64
 14  psychology            72662 non-null   float64
 15  chemistry             80531 non-null   float64
 16  biology               63438 non-null   float64
 17  geology               63438 non-null   float64
 18  applied_math          17093 non-null   float64
 19  physics               80531 non-null   float64
 20  total                 153193 non-null  float64
 21  religion              153193 non-null  float64
 22  altarbiat_alwatania   153193 non-null  float64
 23  economics_statistics  153193 non-null  float64
 24  gender                153193 non-null  category
dtypes: category(7), float64(18)
memory usage: 23.7 MB

In [65]:
dtypes = pd.DataFrame(df.dtypes,columns=["Data Type"])

dtypes["Unique Values"]=df.nunique()

dtypes["Null Values"]=df.isnull().sum()

dtypes["% null Values"]=df.isnull().sum()/len(df)

dtypes.sort_values(by="Null Values" , ascending=False).style.background_gradient(cmap='YlOrRd',axis=0)

In [66]:
df.to_csv("/content/drive/MyDrive/Omdena/Second Exams Specializations/01_SecondExams_All_Data.csv", index=False)

# **Let's Split the Data Depending on Student Specialization**

- **We have two Main Specialization : Scientific and literary**

- **And Scientific Major splits to two Sub-Specialization : Math and Science**

###**So let's Split Columns depending on the Specializations : Scientific and literary**

In [67]:
df.columns

Index(['school_name_arabic', 'administration', 'government_Arabic', 'branch',
       'Percentage', 'student_type', 'status', 'arabic', 'first_foreign_lang',
       'second_foreign_lang', 'pure_mathematics', 'history', 'geography',
       'philosophy', 'psychology', 'chemistry', 'biology', 'geology',
       'applied_math', 'physics', 'total', 'religion', 'altarbiat_alwatania',
       'economics_statistics', 'gender'],
      dtype='object')

**The diffrence between Scientific and literary is in the Subjects (Columns)**



**We have main subjects (columns) that whole students study :**

 `'arabic'`, `'first_foreign_lang'`,`'religion'`, `'altarbiat_alwatania'`,
`'economics_statistics'`,`'second_foreign_lang'`

> Note `'second_foreign_lang'` vary from student to another, one can studey french and other can study german for example

In [68]:
Main_Subjects = ['arabic', 'first_foreign_lang','religion', 'altarbiat_alwatania', 'economics_statistics','second_foreign_lang']

**Now Let's define Each Specializations Subjects :**

**For the literary "ادبي" Specializations we have :**

`'history'`,`'geography'`, `'philosophy'` , `'psychology'`

In [69]:
Literary_Subjects = ['history','geography', 'philosophy' , 'psychology']

**For the Scientific "علمي" Specializations Also we have main subjects that the whole specialization students study and other subjects specific to which sub-specialization**

`'chemistry'` , `'physics'`

In [70]:
Main_Scinctific_Subjects = ['chemistry' , 'physics']

**For the Math Sub-Specialization we have:**

`'pure_mathematics'` , `'applied_math'`

In [71]:
Math_SubSpecial_Subjects = ['pure_mathematics' , 'applied_math']

**For the Science Sub-Specialization we have:**

`'biology'`, `'geology'`

In [72]:
Science_SubSpecial_Subjects = ['biology', 'geology']

###**Now let's split the data frames**

####**The Literary Specializations Students**

In [73]:
Not_Literary_Special_Subjects = Main_Scinctific_Subjects + Math_SubSpecial_Subjects + Science_SubSpecial_Subjects

In [74]:
Literary_Special_Students = df.drop(columns=Not_Literary_Special_Subjects)
Literary_Special_Students = Literary_Special_Students[Literary_Special_Students["branch"] == "أدبي"]
Literary_Special_Students

,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,history,geography,philosophy,psychology,total,religion,altarbiat_alwatania,economics_statistics,gender
401,العجوزة ث بنات,العجوزة,الجيزة,أدبي,74.88,طلاب,ناجح,76.0,26.0,20.0,47.0,30.0,60.0,48.0,307.0,16.0,12.5,28.5,F
403,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,أدبي,55.85,طلاب,ناجح,42.0,33.0,20.0,30.0,38.0,36.0,30.0,229.0,21.0,12.5,25.0,M
406,بشتيل ث بنات,اوسيم,الجيزة,أدبي,79.51,طلاب,ناجح,54.0,30.0,20.0,56.0,60.0,54.0,52.0,326.0,21.0,20.0,26.0,F
409,العطف ث م بنين,العياط,الجيزة,أدبي,54.63,طلاب,ناجح,44.0,34.0,20.0,34.0,32.0,30.0,30.0,224.0,23.0,12.5,25.5,M
412,منازل ادارة بولاق الدكرور بنات,بولاق الدكرور,الجيزة,أدبي,60.49,طلاب,ناجح,51.0,28.0,20.0,33.0,30.0,56.0,30.0,248.0,-1.0,-1.0,-1.0,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155522,منازل إدارة دار السلام,دار السلام,القاهرة,أدبي,54.15,طلاب,ناجح,40.0,25.0,32.0,35.0,30.0,30.0,30.0,222.0,-1.0,-1.0,-1.0,M
155523,منازل إدارة دار السلام,دار السلام,القاهرة,أدبي,69.27,طلاب,ناجح,70.0,30.5,29.5,46.0,34.5,37.5,36.0,284.0,13.5,12.5,25.0,M
155526,منازل إدارة جهينة,جهينة,سوهاج,أدبي,60.85,طلاب,ناجح,40.5,38.0,35.0,30.0,30.0,37.0,39.0,249.5,-1.0,-1.0,-1.0,F
155527,منازل إدارة جهينة,جهينة,سوهاج,أدبي,58.05,طلاب,ناجح,40.0,39.0,21.0,30.0,33.0,40.0,35.0,238.0,-1.0,-1.0,-1.0,F
155528,منازل إدارة جهينة,جهينة,سوهاج,أدبي,65.85,طلاب,ناجح,42.0,35.0,31.0,30.0,43.0,43.0,46.0,270.0,-1.0,-1.0,-1.0,F

In [75]:
Literary_Special_Students.isna().sum()

school_name_arabic      0
administration          0
government_Arabic       0
branch                  0
Percentage              0
student_type            0
status                  0
arabic                  0
first_foreign_lang      0
second_foreign_lang     0
history                 0
geography               0
philosophy              0
psychology              0
total                   0
religion                0
altarbiat_alwatania     0
economics_statistics    0
gender                  0
dtype: int64

In [76]:
Literary_Special_Students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72662 entries, 401 to 155528
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   school_name_arabic    72662 non-null  category
 1   administration        72662 non-null  category
 2   government_Arabic     72662 non-null  category
 3   branch                72662 non-null  category
 4   Percentage            72662 non-null  float64
 5   student_type          72662 non-null  category
 6   status                72662 non-null  category
 7   arabic                72662 non-null  float64
 8   first_foreign_lang    72662 non-null  float64
 9   second_foreign_lang   72662 non-null  float64
 10  history               72662 non-null  float64
 11  geography             72662 non-null  float64
 12  philosophy            72662 non-null  float64
 13  psychology            72662 non-null  float64
 14  total                 72662 non-null  float64
 15  religion              72662 non-null  float64
 16  altarbiat_alwatania   72662 non-null  float64
 17  economics_statistics  72662 non-null  float64
 18  gender                72662 non-null  category
dtypes: category(7), float64(12)
memory usage: 8.0 MB

In [77]:
Literary_Special_Students.to_csv("/content/drive/MyDrive/Omdena/Second Exams Specializations/01_SecondExam_Literary_Specialization.csv", encoding="utf-8-sig", index=False)

#### **The Scientific Specializations Students**

In [78]:
Not_Scientific_Special_Subjects = Literary_Subjects

In [79]:
Scientific_Special_Students = df.drop(columns=Not_Scientific_Special_Subjects)
Scientific_Special_Students = Scientific_Special_Students[Scientific_Special_Students["branch"] != "أدبي"]
Scientific_Special_Students

,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,chemistry,biology,geology,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88,طلاب,ناجح,56.0,25.0,20.0,30.0,30.0,NaN,NaN,33.0,31.0,225.0,18.0,20.0,31.0,M
404,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93,طلاب,ناجح,73.0,44.0,20.0,NaN,31.0,30.0,30.0,NaN,30.0,258.0,18.0,25.0,28.0,M
408,الحوامدية ث بنات,الحوامدية,الجيزة,علمي علوم,67.68,طلاب,ناجح,61.0,32.0,20.0,NaN,40.0,43.0,47.5,NaN,34.0,277.5,21.0,15.0,25.0,F
417,خدمات الحى السادس ث بنات,أكتوبر,الجيزة,علمي علوم,52.93,طلاب,ناجح,50.0,25.0,20.0,NaN,30.0,32.0,30.0,NaN,30.0,217.0,18.0,12.5,27.0,F
421,منازل ادارة اوسيم بنات,اوسيم,الجيزة,علمي علوم,56.83,طلاب,ناجح,55.0,35.0,21.0,NaN,30.0,30.0,30.0,NaN,32.0,233.0,-1.0,16.5,-1.0,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155518,منازل إدارة ساقلتة,ساقلتة,سوهاج,علمي علوم,56.34,طلاب,ناجح,40.0,41.0,20.0,NaN,30.0,40.0,30.0,NaN,30.0,231.0,-1.0,-1.0,-1.0,F
155519,منازل إدارة ساقلتة,ساقلتة,سوهاج,علمي رياضة,53.41,طلاب,ناجح,42.0,30.0,27.0,30.0,30.0,NaN,NaN,30.0,30.0,219.0,20.0,13.0,34.0,M
155521,منازل إدارة دار السلام,دار السلام,القاهرة,علمي علوم,64.15,طلاب,ناجح,62.0,32.5,20.0,NaN,30.0,35.0,46.5,NaN,37.0,263.0,-1.0,-1.0,-1.0,F
155524,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80,طلاب,راسب,0.0,37.0,0.0,NaN,30.0,37.0,56.0,NaN,36.0,196.0,-1.0,-1.0,-1.0,M
155525,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41,طلاب,ناجح,53.5,29.0,33.0,NaN,30.0,30.0,34.0,NaN,30.0,239.5,-1.0,-1.0,-1.0,F

In [80]:
Scientific_Special_Students.isna().sum()

school_name_arabic          0
administration              0
government_Arabic           0
branch                      0
Percentage                  0
student_type                0
status                      0
arabic                      1
first_foreign_lang          0
second_foreign_lang         1
pure_mathematics        63438
chemistry                   0
biology                 17093
geology                 17093
applied_math            63438
physics                     0
total                       0
religion                    0
altarbiat_alwatania         0
economics_statistics        0
gender                      0
dtype: int64

**Since we will split the subjects(columns) that has NANs to the remaining sub-specialization, We will drop them to Contiue our analysis**

In [81]:
Scientific_SubSpecial_Subjects = Math_SubSpecial_Subjects + Science_SubSpecial_Subjects

In [82]:
Scientific_Special_Students = Scientific_Special_Students.drop(columns=Scientific_SubSpecial_Subjects)
Scientific_Special_Students

,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,chemistry,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88,طلاب,ناجح,56.0,25.0,20.0,30.0,31.0,225.0,18.0,20.0,31.0,M
404,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93,طلاب,ناجح,73.0,44.0,20.0,31.0,30.0,258.0,18.0,25.0,28.0,M
408,الحوامدية ث بنات,الحوامدية,الجيزة,علمي علوم,67.68,طلاب,ناجح,61.0,32.0,20.0,40.0,34.0,277.5,21.0,15.0,25.0,F
417,خدمات الحى السادس ث بنات,أكتوبر,الجيزة,علمي علوم,52.93,طلاب,ناجح,50.0,25.0,20.0,30.0,30.0,217.0,18.0,12.5,27.0,F
421,منازل ادارة اوسيم بنات,اوسيم,الجيزة,علمي علوم,56.83,طلاب,ناجح,55.0,35.0,21.0,30.0,32.0,233.0,-1.0,16.5,-1.0,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155518,منازل إدارة ساقلتة,ساقلتة,سوهاج,علمي علوم,56.34,طلاب,ناجح,40.0,41.0,20.0,30.0,30.0,231.0,-1.0,-1.0,-1.0,F
155519,منازل إدارة ساقلتة,ساقلتة,سوهاج,علمي رياضة,53.41,طلاب,ناجح,42.0,30.0,27.0,30.0,30.0,219.0,20.0,13.0,34.0,M
155521,منازل إدارة دار السلام,دار السلام,القاهرة,علمي علوم,64.15,طلاب,ناجح,62.0,32.5,20.0,30.0,37.0,263.0,-1.0,-1.0,-1.0,F
155524,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80,طلاب,راسب,0.0,37.0,0.0,30.0,36.0,196.0,-1.0,-1.0,-1.0,M
155525,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41,طلاب,ناجح,53.5,29.0,33.0,30.0,30.0,239.5,-1.0,-1.0,-1.0,F

In [83]:
Scientific_Special_Students.isna().sum()

school_name_arabic      0
administration          0
government_Arabic       0
branch                  0
Percentage              0
student_type            0
status                  0
arabic                  1
first_foreign_lang      0
second_foreign_lang     1
chemistry               0
physics                 0
total                   0
religion                0
altarbiat_alwatania     0
economics_statistics    0
gender                  0
dtype: int64

In [84]:
Scientific_Special_Students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80531 entries, 400 to 155525
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   school_name_arabic    80531 non-null  category
 1   administration        80531 non-null  category
 2   government_Arabic     80531 non-null  category
 3   branch                80531 non-null  category
 4   Percentage            80531 non-null  float64
 5   student_type          80531 non-null  category
 6   status                80531 non-null  category
 7   arabic                80530 non-null  float64
 8   first_foreign_lang    80531 non-null  float64
 9   second_foreign_lang   80530 non-null  float64
 10  chemistry             80531 non-null  float64
 11  physics               80531 non-null  float64
 12  total                 80531 non-null  float64
 13  religion              80531 non-null  float64
 14  altarbiat_alwatania   80531 non-null  float64
 15  economics_statistics  80531 non-null  float64
 16  gender                80531 non-null  category
dtypes: category(7), float64(10)
memory usage: 7.6 MB

In [85]:
Scientific_Special_Students.to_csv("/content/drive/MyDrive/Omdena/Second Exams Specializations/01_SecondExam_Scientific_Specialization.csv", encoding="utf-8-sig", index=False)

#### **The Math Sub-Specializations Students**

In [86]:
Not_Math_SubSpecial_Subjects = Literary_Subjects + Science_SubSpecial_Subjects

In [87]:
Math_SubSpecial_Students = df.drop(columns=Not_Math_SubSpecial_Subjects)
Math_SubSpecial_Students = Math_SubSpecial_Students[Math_SubSpecial_Students["branch"] == "علمي رياضة"]
Math_SubSpecial_Students

,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,pure_mathematics,chemistry,applied_math,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
400,التحرير الرسمية لغات بنين,أكتوبر,الجيزة,علمي رياضة,54.88,طلاب,ناجح,56.0,25.0,20.0,30.0,30.0,33.0,31.0,225.0,18.0,20.0,31.0,M
447,المدينة ث خ لغات بنات (فرنسى),أكتوبر,الجيزة,علمي رياضة,57.56,طلاب,ناجح,46.0,35.0,35.0,30.0,30.0,30.0,30.0,236.0,17.0,20.0,34.0,F
452,البريق لغات ث بنات (فرنسي),كرداسة,الجيزة,علمي رياضة,58.29,طلاب,ناجح,40.0,42.0,37.0,30.0,30.0,30.0,30.0,239.0,13.0,13.0,31.0,F
481,الاورمان الرسمية لغات بنين,الدقى,الجيزة,علمي رياضة,60.98,طلاب,ناجح,51.0,37.0,39.0,30.0,30.0,30.0,33.0,250.0,16.0,19.0,29.0,M
482,الاورمان الرسمية لغات بنين,الدقى,الجيزة,علمي رياضة,59.51,طلاب,ناجح,56.0,30.0,38.0,30.0,30.0,30.0,30.0,244.0,13.0,18.0,25.0,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155448,منازل إدارة اخميم,اخميم,سوهاج,علمي رياضة,51.95,طلاب,ناجح,40.0,32.0,20.0,30.0,31.0,30.0,30.0,213.0,-1.0,-1.0,-1.0,M
155449,منازل إدارة اخميم,اخميم,سوهاج,علمي رياضة,56.22,طلاب,ناجح,51.0,38.5,21.0,30.0,30.0,30.0,30.0,230.5,-1.0,-1.0,-1.0,M
155459,منازل إدارة اخميم,اخميم,سوهاج,علمي رياضة,56.95,طلاب,ناجح,45.5,28.0,38.0,32.0,30.0,30.0,30.0,233.5,-1.0,-1.0,-1.0,F
155471,منازل إدارة اخميم,اخميم,سوهاج,علمي رياضة,56.59,طلاب,ناجح,40.0,34.0,20.0,30.0,30.0,30.0,48.0,232.0,-1.0,-1.0,-1.0,M
155519,منازل إدارة ساقلتة,ساقلتة,سوهاج,علمي رياضة,53.41,طلاب,ناجح,42.0,30.0,27.0,30.0,30.0,30.0,30.0,219.0,20.0,13.0,34.0,M

In [88]:
Math_SubSpecial_Students.isna().sum()

school_name_arabic      0
administration          0
government_Arabic       0
branch                  0
Percentage              0
student_type            0
status                  0
arabic                  0
first_foreign_lang      0
second_foreign_lang     0
pure_mathematics        0
chemistry               0
applied_math            0
physics                 0
total                   0
religion                0
altarbiat_alwatania     0
economics_statistics    0
gender                  0
dtype: int64

In [89]:
Math_SubSpecial_Students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17093 entries, 400 to 155519
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   school_name_arabic    17093 non-null  category
 1   administration        17093 non-null  category
 2   government_Arabic     17093 non-null  category
 3   branch                17093 non-null  category
 4   Percentage            17093 non-null  float64
 5   student_type          17093 non-null  category
 6   status                17093 non-null  category
 7   arabic                17093 non-null  float64
 8   first_foreign_lang    17093 non-null  float64
 9   second_foreign_lang   17093 non-null  float64
 10  pure_mathematics      17093 non-null  float64
 11  chemistry             17093 non-null  float64
 12  applied_math          17093 non-null  float64
 13  physics               17093 non-null  float64
 14  total                 17093 non-null  float64
 15  religion              17093 non-null  float64
 16  altarbiat_alwatania   17093 non-null  float64
 17  economics_statistics  17093 non-null  float64
 18  gender                17093 non-null  category
dtypes: category(7), float64(12)
memory usage: 2.0 MB

In [90]:
Math_SubSpecial_Students.to_csv("/content/drive/MyDrive/Omdena/Second Exams Specializations/01_SecondExam_Scientific_Math_Sub-Specialization.csv", encoding="utf-8-sig", index=False)

####**The Science Sub-Specializations Students**

In [91]:
Not_Science_SubSpecial_Subjects = Literary_Subjects + Math_SubSpecial_Subjects

In [92]:
Science_SubSpecial_Students = df.drop(columns=Not_Science_SubSpecial_Subjects)
Science_SubSpecial_Students = Science_SubSpecial_Students[Science_SubSpecial_Students["branch"] == "علمي علوم"]
Science_SubSpecial_Students

,school_name_arabic,administration,government_Arabic,branch,Percentage,student_type,status,arabic,first_foreign_lang,second_foreign_lang,chemistry,biology,geology,physics,total,religion,altarbiat_alwatania,economics_statistics,gender
404,6 اكتوبر الحى السادس ث بنين,أكتوبر,الجيزة,علمي علوم,62.93,طلاب,ناجح,73.0,44.0,20.0,31.0,30.0,30.0,30.0,258.0,18.0,25.0,28.0,M
408,الحوامدية ث بنات,الحوامدية,الجيزة,علمي علوم,67.68,طلاب,ناجح,61.0,32.0,20.0,40.0,43.0,47.5,34.0,277.5,21.0,15.0,25.0,F
417,خدمات الحى السادس ث بنات,أكتوبر,الجيزة,علمي علوم,52.93,طلاب,ناجح,50.0,25.0,20.0,30.0,32.0,30.0,30.0,217.0,18.0,12.5,27.0,F
421,منازل ادارة اوسيم بنات,اوسيم,الجيزة,علمي علوم,56.83,طلاب,ناجح,55.0,35.0,21.0,30.0,30.0,30.0,32.0,233.0,-1.0,16.5,-1.0,F
445,المدينة ث خ لغات بنات (فرنسى),أكتوبر,الجيزة,علمي علوم,59.02,طلاب,ناجح,46.0,33.0,33.0,30.0,37.0,33.0,30.0,242.0,19.0,21.0,34.0,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155517,منازل إدارة ساقلتة,ساقلتة,سوهاج,علمي علوم,52.44,طلاب,ناجح,49.0,25.0,20.0,31.0,30.0,30.0,30.0,215.0,-1.0,-1.0,-1.0,F
155518,منازل إدارة ساقلتة,ساقلتة,سوهاج,علمي علوم,56.34,طلاب,ناجح,40.0,41.0,20.0,30.0,40.0,30.0,30.0,231.0,-1.0,-1.0,-1.0,F
155521,منازل إدارة دار السلام,دار السلام,القاهرة,علمي علوم,64.15,طلاب,ناجح,62.0,32.5,20.0,30.0,35.0,46.5,37.0,263.0,-1.0,-1.0,-1.0,F
155524,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,47.80,طلاب,راسب,0.0,37.0,0.0,30.0,37.0,56.0,36.0,196.0,-1.0,-1.0,-1.0,M
155525,منازل إدارة جهينة,جهينة,سوهاج,علمي علوم,58.41,طلاب,ناجح,53.5,29.0,33.0,30.0,30.0,34.0,30.0,239.5,-1.0,-1.0,-1.0,F

In [93]:
Science_SubSpecial_Students.isna().sum()

school_name_arabic      0
administration          0
government_Arabic       0
branch                  0
Percentage              0
student_type            0
status                  0
arabic                  1
first_foreign_lang      0
second_foreign_lang     1
chemistry               0
biology                 0
geology                 0
physics                 0
total                   0
religion                0
altarbiat_alwatania     0
economics_statistics    0
gender                  0
dtype: int64

In [94]:
Science_SubSpecial_Students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63438 entries, 404 to 155525
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   school_name_arabic    63438 non-null  category
 1   administration        63438 non-null  category
 2   government_Arabic     63438 non-null  category
 3   branch                63438 non-null  category
 4   Percentage            63438 non-null  float64
 5   student_type          63438 non-null  category
 6   status                63438 non-null  category
 7   arabic                63437 non-null  float64
 8   first_foreign_lang    63438 non-null  float64
 9   second_foreign_lang   63437 non-null  float64
 10  chemistry             63438 non-null  float64
 11  biology               63438 non-null  float64
 12  geology               63438 non-null  float64
 13  physics               63438 non-null  float64
 14  total                 63438 non-null  float64
 15  religion              63438 non-null  float64
 16  altarbiat_alwatania   63438 non-null  float64
 17  economics_statistics  63438 non-null  float64
 18  gender                63438 non-null  category
dtypes: category(7), float64(12)
memory usage: 7.0 MB

In [95]:
Science_SubSpecial_Students.to_csv("/content/drive/MyDrive/Omdena/Second Exams Specializations/01_SecondExam_Scientific_Science_Sub-Specialization.csv", encoding="utf-8-sig", index=False)

# **From Now we will Seperate our Analysis for diffrent Specializations:**
- Literary Specialization
- Scientific Specialization
- Scientific Science Sub-Specialization
- Scientific Math Sub-Specialization

# **Noticable Diffrences from First Exam Dataset**
 - **We don't have `"مؤجل"` (Delayed) in the second exams.**
 - **Only 1% of Students were absent in the second exams .**

# **Note**
- You will need to Re-Convert the Categorical Columns due to pandas storing them as objects when saving.
- In Subject Columns:
 - NaN  Means the Student doesn't have this subject in his Specialization "غير مقرر".
 - 0  Means the Student was Absent in this subject "غائب".
 -  -1  Means the Student Passed this subject on the Second Exam  "إجتياز".